%section#about
  %h4= 'About'
  %button.btn.btn-default
    %span.glyphicon.glyphicon-pencil
  %p= @profile['about']
  %p= @profile['ambition']
  %p= @profile['rationale']

  %h4= 'Learning'
  %p= @profile['learning_experience']

  %h4= 'Recent Project'
  %p= @profile['projects']

%hr

:javascript
  function buttonToForm() {
    $('#about button').click(function(){
      //animate
      $('html, body').stop().animate(
        { scrollTop: $('#form').offset().top - 182 }, 400
      );
      return false;
    });
  }
  buttonToForm();
