 <div class="row">
        <div class="form-group">
          <label for="trainee[about]" class="col-sm-3 control-label">About</label>
          <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>

        <!-- TODO - Add more fields so that your profile can be edited -->
          <br>
          <label for="trainee[codecademy]" class="col-sm-3 control-label">Codecademy Username: </label>
          <input type="text" name="trainee[codecademy]" value="<%= @profile["codecademy"] %>"/>

          <br>

          <label for="trainee[dob]" class="col-sm-3 control-label">Edit DOB: </label>
          <input type="text" name="trainee[dob]" value="<%= @profile["dob"] %>"/>

          <br>

          <label for="trainee[first_name]" class="col-sm-3 control-label">First Name: </label>
          <input type="text" name="trainee[first_name]" value="<%= @profile["first_name"] %>"/>

          <br>

          <label for="trainee[employment_status]" class="col-sm-3 control-label">Employment Status: </label>
          <input type="text" name="trainee[employment_status]" value="<%= @profile["employment_status"] %>"/>

          <br>

          <label for="trainee[gender]" class="col-sm-3 control-label">Gender: </label>
          <input type="text" name="trainee[gender]" value="<%= @profile["gender"] %>"/>

          <br>

          <label for="trainee[github]" class="col-sm-3 control-label">Github:  </label>
          <input type="text" name="trainee[github]" value="<%= @profile["github"] %>"/>

          <br>

          <label for="trainee[homepage]" class="col-sm-3 control-label">Homepage: </label>
          <input type="text" name="trainee[homepage]" value="<%= @profile["homepage"] %>"/>

          <br>

          <label for="trainee[last_name]" class="col-sm-3 control-label">Last Name: </label>
          <input type="text" name="trainee[last_name]" value="<%= @profile["last_name"] %>"/>

          <br>

          <label for="trainee[phone_number]" class="col-sm-3 control-label">Phone Number: </label>
          <input type="text" name="trainee[phone_number]" value="<%= @profile["phone_number"] %>"/>

          <br>

          <label for="trainee[primes_sum]" class="col-sm-3 control-label">Primes Sum: </label>
          <input type="text" name="trainee[primes_sum]" value="<%= @profile["primes_sum"] %>"/>

          <br>

          <label for="trainee[twitter]" class="col-sm-3 control-label">Twitter: </label>
          <input type="text" name="trainee[twitter]" value="<%= @profile["twitter"] %>"/>

          <br>

          <label for="trainee[js_track_completedness]" class="col-sm-3 control-label">Codecademy Javascript progress: </label>
          <input type="text" name="trainee[js_track_completedness]" value="<%= @profile["js_track_completedness"] %>"/>

          <br>

          <label for="trainee[ruby_track_completedness]" class="col-sm-3 control-label">Codecademy Ruby progress: </label>
          <input type="text" name="trainee[ruby_track_completedness]" value="<%= @profile["ruby_track_completedness"] %>"/>

          <br>

          <label for="trainee[web_track_completedness]" class="col-sm-3 control-label">Codecademy Web progress: </label>
          <input type="text" name="trainee[web_track_completedness]" value="<%= @profile["web_track_completedness"] %>"/>

        </div>
      </div>
