- js_track   = @profile['js_track_completedness'].to_int
- ruby_track = @profile['ruby_track_completedness'].to_int
- web_track  = @profile['web_track_completedness'].to_int

%section#tracks
  %h4= 'Tracks'
  %button.btn.btn-default
    %span.glyphicon.glyphicon-pencil
  %p= @profile['codecademy']

  %p= 'I have not finished any tracks on codecademy but I hope the programming exercise proves that I know my way around web development. I will over the last few days go through ruby and js to see if there is anything I could learn more from codecademy but I think these courses are a bit too low level for me.'
  %p= 'I did Python track though 4 months ago out of curiousity and I have 74% of the track completed.'

  %h6= 'Python Track'
  .progress
    .progress-bar{role: 'progressbar', :"aria-valuenow" => 75, :"aria-valuemin" => 0, :"aria-valuemax" => 100, style:'width:75%;'}
      = "75%"

  %h6= 'JS Track'
  .progress
    .progress-bar{role: 'progressbar', :"aria-valuenow" => js_track, :"aria-valuemin" => '0', :"aria-valuemax" => 100, style:"width:#{js_track}%;"}
      = js_track.to_s + "%"

  %h6= 'Ruby Track'
  .progress
    .progress-bar{role: 'progressbar', :"aria-valuenow" => ruby_track, :"aria-valuemin" => '0', :"aria-valuemax" => 100, style:"width:#{ruby_track}%;"}
      = ruby_track.to_s + "%"

  %h6= 'Web Track'
  .progress
    .progress-bar{role: 'progressbar', :"aria-valuenow" => web_track, :"aria-valuemin" => '0', :"aria-valuemax" => 100, style:"width:#{web_track}%;"}
      = ruby_track.to_s + "%"
