<% if @profile %>

    <!--<%= @profile.inspect %>-->

    <h3>Edit Profile</h3>

    <div id="stats" class="box">
        <h3>Stats</h3>
        <!-- TODO - Set the contents of this span with JavaScript -->
        <span id="word-count">0</span> words found.
    </div>

    <div class="box">
        <h3>Edit Profile</h3>
        <form action="/update" method="POST">
            <table class="edit-table">
                <tr>
                    <th>Field name</th>
                    <th>Value</th>
                    <th>Word count</th>
                </tr>
                <% @profile.each do |field, value| %>
                    <tr>
                        <td>
                            <label for="trainee[<%= field %>]"><%= field.split('_').join(' ').capitalize() %></label>
                        </td>
                        <td>
                            <input type="text" name="trainee[<%= field %>]" value="<%= @profile[field] %>"/>
                        </td>
                        <td>
                            TODO
                        </td>
                    </tr>
                <% end %>
            </table>
            <input type="submit" value="Update Profile" class="btn btn-primary"/>
        </form>
    </div>
<% else %>
    <div class="welcome">
        <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

        <a href="/authorise">Authorise</a>
    </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
    console.log("I am Javascript!");

    var profile_values = document.getElementsByClassName('profile-value');
    var total_words = 0;

    // TODO - Count the number of words in the profile.
    // hint - look at what the innerHTML property provides.

    document.getElementById('word-count').innerHTML = total_words;
</script>