<% if @profile %>

    <div id="wrapper">
        <div id="header">
            <h3><%= @profile["first_name"] %>'s Amazing Profile</h3>
        </div>

        <div id="navbar">
            <nav>
                <ul>
                    <li>
                        <div id="stats" class="box">
                            <h3>Stats</h3>
                            <!-- TODO - Set the contents of this span with JavaScript -->
                            <span id="word-count">0</span> words found.
                          </div>
                    </li>
                    <li>
                        <div id="problems" class="box">
                            <h3>Programming Problems</h3>
                            <a href="/primes">My Prime Number Solution</a>
                          </div>
                    </li>
                    <li>
                        <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/1/005/0a5/299/2e1420c.jpg">
                    </li>
                </ul>
            </nav>
        </div>

        <div id="profile">
            <% @profile.each do |field, value| %>
                <div class="profile-section box">
                    <div class="inner-box">
                        <h4><%= field %></h4>
                    </div>
                  <p class="profile-value"><%= value %></p>
                </div>
            <% end %>

            <div class="box">
                <h3>Edit Profile</h3>

                <form action="/update" method="POST">
                  <fieldset>
                    <div class="form-group">
                      <label for="trainee[about]">About</label>
                      <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>
                    </div>

                    <!-- TODO - Add more fields so that your profile can be edited -->

                    <div class="form-group">

                      <label for="trainee[ambition]">Ambition</label>

                      <input type="text" name="trainee[ambition]" value="<%= @profile["ambition"] %>"/>
                      
                    </div>

                    

                    <input type="submit" value="Update Profile" class="btn btn-primary" />
                  </fieldset>
                </form>
            </div>
        </div>
    </div>

<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");
  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;
  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.
  document.getElementById('word-count').innerHTML = total_words;
</script>