<% if @profile %>
  <h3><%= @profile["first_name"] %>'s Amazing Profile</h3>

<main> 
   
   <img class="profile-picture" src="/images/profile.jpg"/>

<!-- Changed initial section to produce a list -->

  <div class='info-container'>
    <ul>
      <% @profile.first(11).each do |field, value| %>
      <li><%= field %>: <%= value %></li>
      <% end %>
      <li>Codecademy Profile: <%= @profile["codecademy_profile"] %></li>
    </ul>
  </div>


  <% @profile.each do |field, value| %>
    <div class="application-box">
      <button class="accordion"><%= field %></button>
      <div class="panel">
        <p class="profile-value"><%= value %></p>
      </div>
    </div>
  <% end %>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div id="edit">
    <button class="accordion">Edit Profile</button>
    <div class="panel">

    <form action="/update" method="POST">
      <fieldset>

      <div class="form-group">
        <label for="trainee[email]">email:</label>
        <input type="text" name="trainee[email]" value=<%= @profile["email"] %>>
      </div>

      <div class="form-group">
        <label for="trainee[first_name]">First Name:</label>
        <input type="text" name="trainee[first_name]" value=<%= @profile["first_name"] %>>
      </div>

      <div class="form-group">
        <label for="trainee[last_name]">Last Name:</label>
        <input type="text" name="trainee[last_name]" value=<%= @profile["last_name"] %>>
      </div>

       <div class="form-group">
        <label for="trainee[phone_number]">Phone Number:</label>
        <input type="text" name="trainee[phone_number]" value=<%= @profile["phone_number"] %>>
      </div>

      <div class="form-group">
        <label for="trainee[gender]">Gender:</label>
        <input type="text" name="trainee[gender]" value=<%= @profile["gender"] %>>
      </div>

      <div class="form-group">
        <label for="trainee[dob]">Date of Birth:</label>
        <input type="text" name="trainee[dob]" value=<%= @profile["dob"] %>>
      </div>

      <div class="form-group">
        <label for="trainee[twitter]">Twitter:</label>
        <input type="text" name="trainee[twitter]" value=<%= @profile["twitter"] %>>
      </div>

      <div class="form-group">
        <label for="trainee[github]">Github:</label>
        <input type="text" name="trainee[github]" value=<%= @profile["github"] %>>
      </div>

      <div class="form-group">
        <label for="trainee[homepage]">Homepage:</label>
        <input type="text" name="trainee[homepage]" value=<%= @profile["homepage"] %>>
      </div>

      <div class="form-group">
        <label for="trainee[employment_status]">Employment Status:</label>
        <input type="text" name="trainee[employment_status]" value=<%= @profile["employment_status"] %>>
      </div>

        <div class="form-group">
          <label for="trainee[codecademy_profile]">Codecademy Profile:</label>
          <input type="text" name="trainee[codecademy_profile]" value=<%= @profile["codecademy_profile"] %>>
        </div>

        <div class="form-group">
          <label for="trainee[about]">About:</label>
          <textarea rows="4" cols="150" name="trainee[about]"><%= @profile["about"] %>"</textarea>
        </div>

        <div class="form-group">
          <label for="trainee[projects]">Projects:</label>
          <textarea rows="4" cols="150" name="trainee[projects]"><%= @profile["projects"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[rationale]">Rationale:</label>
          <textarea rows="4" cols="150" name="trainee[rationale]"><%= @profile["rationale"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[ambition]">Ambition:</label>
          <textarea rows="4" cols="150" name="trainee[ambition]"><%= @profile["ambition"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[learning_experience]">Learning Experience:</label>
          <textarea rows="4" cols="150" name="trainee[learning_experience]"><%= @profile["learning_experience"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[primes_sum]">Primes Sum:</label>
          <input type="text" name="trainee[primes_sum]" value="142913828922">
        </div>

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
    </div>
  </div>
  </main>



<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>

<!-- JavaScript for accordion -->
<script language="javascript">
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i=0; i < acc.length; i++) {
    acc[i].onclick = function(){
      this.classList.toggle("active");

      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
          panel.style.display = "none";
      } else {
          panel.style.display = "block";
      }
    }
  }
</script>

<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value')
  var total_words = 0

/* Not entirely accurate, paragraph jumps are counting 2 words as one so slightly lower count then should be. Will need to correct later */

 for (var i = 0; i < profile_values.length; i++) {
  total_words += profile_values[i].innerHTML.split(" ").length;

};

  document.getElementById('word-count').innerHTML = total_words;
</script>
