<% if @profile %>
  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
   <div id="menu">
    <p>Home</a>
    <p> About </p> 
  </div>

  <div id="container">
    <h3><%= @profile["first_name"] %>'s Amazing Profile</h3>
    <img id= "me" src="/images/Patricia.jpg" />
    <table id="personal_data">
      <thead>
        <th colspan = "2">Patricia's Personal Data</th>
      </thead>
      <tbody>
        <% lista = ["first_name", "last_name","dob", "gender", "phone_number","github", "twitter"] %>
        <% lista.each do |field| %> 
          <tr>
            <td><h5><%= field %></h5></td>
            <td><%= @profile[field]%></td>
          </tr>
        <% end %>
      </tbody> 
    </table>

    <table id="employment_status">
      <thead>
        <th colspan = "2">Employment Status</th>
      </thead>
      <tbody>
        <tr>
          <td><h5>Status</h5></td>
          <td><%= @profile["employment_status"] %></td>
        </tr>
      </tbody>
    </table>

     
    <table id="codeacademy">
      <thead>
        <th colspan = "2"><h4>Codecademy</h4></th>
      </thead>
      <tbody>
        <tr>
          <td><h5>Account</h5></td>
          <td><%= @profile["codecademy"]%></td>
        </tr>
        <tr><td><h4>Course's completedness Codecademy<h4></tr>
        <% courses_completedness = ["web_track_completedness", "js_track_completedness", "ruby_track_completedness"] %>
        <% courses_completedness.each do |field| %>
          <tr>
            <td><h5><%= field %></h5></td>
            <td><div>100%</div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h4>Learning experience</h4>
    <p><%= @profile["learning_experience"] %></p>
          
    <% about_me = ["about", "projects", "ambition", "rationale"] %> 
    <ul>
      <% about_me.each do |field| %>
        <li>
          <h4><%= field %></h4>
          <p><%= @profile[field] %></p>
        </li>
      <% end %>
    </ul>

    <h4>How did you hear from us</h4>
    <p><%= @profile["how_did_you_hear"] %></p>
    
    <div id="stats" class="box">
      <h3>Stats</h3>
      <!-- TODO - Set the contents of this span with JavaScript -->
      <div><p><span id="word-count">0</span> words found.</p></div>
    </div>

    <div id="problems" class="box">
      <h3>Programming Problems</h3>
      <a href="/primes">My Prime Number Solution</a>
      <h5>Prime sum</h5>
      <p><%= @profile["primes_sum"]%>
    </div>

    <div id="edit_profile" class="box">
      <h3>Edit Profile</h3>

      <form action="/update" method="POST">
        <fieldset>
          <div class="form-group">
            <label for="trainee[about]">About</label>
            <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>
          </div>
          <!-- TODO - Add more fields so that your profile can be edited -->
          <div class="form-group">
            <label for="trainee[ambition]">Ambition</label>
            <input type="text" name="trainee[ambition]" value="<%= @profile["ambition"] %>"/>
          </div>
          <div class="form-group">
            <label for="trainee[twitter]">Twitter</label>
            <input type="text" name="trainee[twitter]" value="<%= @profile["twitter"] %>"/>
          </div>
          <div class="form-group">
            <label for="trainee[primes_sum]">Primes Sum</label>
            <input type="text" name="trainee[primes_sum]" value="<%= @profile["primes_sum"] %>"/>
          </div>
          <div class="form-group">
            <label for="trainee[codecademy]">Codecademy</label>
            <input type="text" name="trainee[codecademy]" value="<%= @profile["codecademy"] %>"/>
          </div>

          <input type="submit" value="Update Profile" class="btn btn-primary" />
        </fieldset>
      </form>
    </div>
  <% else %>
    <div class="welcome">
      <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

      <a href="/authorise">Authorise</a>
    </div>
  <% end %>
  </div>

  <div id="footer">
    <h5>CSS, HTML, JS and Ruby exercises by Patricia Cupueran</h5>
  </div>
  


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  /*Function that capitalize a given string*/
  function capitalize (string){
    return string.charAt(0).toUpperCase() + string.slice(1);
  };
  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;
  /*Function tha removes underlines from a given string*/
  function removeUnderlines (string){
    //console.log("yes, I am defined");
    var newString = "";
    var index = string.indexOf("_");
    while(index !== -1){
      index = string.indexOf("_");
      if(index != -1){
        newString = string.substring(0,index) + " " + string.substring(index + 1);
        string = newString; 
      }
    }
    return string;
  };
  
  /*Function that renders properly (capitalize and without underlines) HTML elements when a tag name is given*/
  function renderElement (html_element_tag) {
    // body...
    var array_html_elements = document.getElementsByTagName(html_element_tag);

    for (var i = 0; i < array_html_elements.length; i++) {
      var element_text = array_html_elements[i].innerHTML;
      array_html_elements[i].innerHTML = removeUnderlines(capitalize(element_text));
    }
  }

  renderElement("h5");
  renderElement("h4");


  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.
  /*Function that counts the words in a given string*/
  function countWords(string){
    if(string === ""){
      return 0;
    }
    else{
      var numberWords = 1;
      var index = string.indexOf(" ");
      while(index !== -1){
        numberWords += 1;
        var newString = string.substring(index + 1 , string.length);
        string = newString;
        index = newString.indexOf(" ");
      }
      return numberWords;
    }
    
  };

  
  /*Function that counts the number of words in the page, in all the profile*/
  function countWordsOfProfile(){

    var words = document.getElementsByTagName("body")[0].innerHTML.replace(/(|)/,'').replace(/[\n\r]/g,'').replace(/script.*?<\/script>/g,'').replace(/<.*?>/g,'').replace("_",'');
    return words.match(/\S +/g).length;
  }

  var total_words = countWordsOfProfile();
  document.getElementById('word-count').innerHTML = total_words;
</script>