<% if @profile %>

    <!--<%= @profile.inspect %> -->


    <h3 class="header-text clearboth"><%= @profile["first_name"] %>'s Amazing Profile</h3>

    <!-- TODO- Perhaps re-jig this to fit your new design / layout -->

    <div class="container">
        <div id="profile-picture"><img src="images/rsz_ewelina.jpg" alt="ewelina's profile picture"/></div>
        <div>
            <!--<h3 class="header-about">About me</h3>-->
            <div class="profile-info">
            <table>
                <tr>
                    <td><h4>First name:  </h4></td>
                    <td><%= @profile["first_name"] %></td>
                </tr>
                <tr>
                    <td><h4>Last name:  </h4></td>
                    <td><%= @profile["last_name"] %></td>
                </tr>
                <tr>
                    <td><h4>Date of Birth:  </h4></td>
                    <td><%= @profile["dob"] %></td>
                </tr>
                <tr>
                    <td><h4>Gender:  </h4></td>
                    <td><%= @profile["gender"] %></td>
                </tr>
                <tr>
                    <td><h4>Employment status:  </h4></td>
                    <td><%= @profile["employment_status"] %></td>
                </tr>
            </table>
            </div>
            <div class="right">
                <table>
                    <tr>
                        <td><h4>Phone number: </h4></td>
                        <td><%= @profile["phone_number"] %></td>
                    </tr>
                    <tr>
                        <td><h4>Github: </h4></td>
                        <td><%= @profile["github"] %></td>
                    </tr>
                    <tr>
                        <td><h4>Twitter: </h4></td>
                        <td><%= @profile["twitter"] %></td>
                    </tr>
                    <tr>
                        <td><h4>Codecademy: </h4></td>
                        <td><%= @profile["codecademy"] %></td>
                    </tr>
                    <tr>
                        <td><h4>Homepage: </h4></td>
                        <td><%= @profile["homepage"] %></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clearboth profile-value"><%= @profile["about"] %></div>
        <div>
            <h4 class="box gradients headings">My Ambition</h4><p class="profile-value"><%= @profile["ambition"] %></p>
            <h4 class="box gradients headings">Projects</h4><p class="profile-value"><%= @profile["projects"] %></p>
            <h4 class="box gradients headings">Rationale</h4><p class="profile-value"><%= @profile["rationale"] %></p>
            <h4 class="box gradients headings">Learning experience</h4><p class="profile-value"><%= @profile["learning_experience"] %></p>
            <h4 class="box gradients headings">How did you hear</h4><p class="profile-value"><%= @profile["how_did_you_hear"] %></p>
        </div>
           
        
        <!--<% @profile.each do |field, value| %>-->
            <!--<div class="profile-section box">-->
                <!--<h4><%= field.split('_').join(' ').capitalize() %>:</h4>-->

                <!--<p class="profile-value"><%= value %></p>-->
            <!--</div>-->
        <!--<% end %>-->

<% else %>
    <div class="welcome">
        <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

        <a href="/authorise">Authorise</a>
    </div>
    </div><% end %>