<% if @profile %>
  <h3 id="profile"><%= @profile["first_name"] %>'s Amazing Profile</h3>
  <div class="row">
    <div id="img" class="col-md-4">
      <img class="img-circle" height="200px" src="https://pbs.twimg.com/profile_images/778267369798074368/SLPD1YS0_400x400.jpg" />
    </div>
    <div class="col-md-8">
      <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
      <% @profile_array = []
         @profile.each do |field, value| %>
        <% @profile_array << field %>

      <% end %>
      <div class="profile-section box">
        <div class="row">
          <div class="col-md-6">
            <div class="profile-section2">
              <h4><%= @profile_array[3].capitalize.split("_").join(" ") %></h4>
              <p class="profile-value"><%= @profile["first_name"] %></p>
            </div>
            <div class="profile-section2">
              <h4><%= @profile_array[4].capitalize.split("_").join(" ") %></h4>
              <p class="profile-value"><%= @profile["gender"] %></p>
            </div>
            <div class="profile-section2">
              <% @dob = Date.parse(@profile["dob"])
                 @today = DateTime.now.to_date

                 had_birthday = ((@dob.month > @today.month || (@today.month == @dob.month && @today.day > @dob.day)) ? true : false)

                 @age = @today.year - @dob.year - (had_birthday ? 0 : 1) %>
              <h4>Age</h4>
              <p class="profile-value"><%= @age %></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-section2">
              <h4><%= @profile_array[8].capitalize.split("_").join(" ") %></h4>
              <p class="profile-value"><%= @profile["last_name"] %></p>
            </div>
          </div>
        </div>
        <p class="update pull-right" onclick="countWords(event)">
          Word count
        </p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="accounts" class="profile-section box">
        <h4>Linked accounts</h4><p class="update pull-right" onclick="showUpdate(event)">Update</p>
        <div class="profile-section2">
          <% @profile["codecademy"] = "house_92" %>
          <h5><%= @profile_array[0].capitalize.split("_").join(" ") %>:</h5>
          <p class="profile-value"><a id="codecademy"><%= @profile["codecademy"] %></a></p>
          <form id="update" class="hide" action="/update" method="POST">
            <fieldset>
              <div class="form-group">
                <label for="trainee[codecademy]"></label>
                <input type="text" name="trainee[codecademy]" value="<%= @profile["codecademy"] %>"/>
              </div>
              <input type="submit" value="Update" class="btn btn-primary" />
            </fieldset>
          </form>
          <ul>
            <li class="codecademy_tracks">
              <div class="profile-section2">
                <img id="js" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png" />
                <p class="profile-value"><%= @profile["js_track_completedness"] %></p>
                <form class="hide" action="/update" method="POST">
                  <fieldset>
                    <div class="form-group">
                      <label for="trainee[js_track_completedness]"></label>
                      <input type="text" name="trainee[js_track_completedness]" value="<%= @profile["js_track_completedness"] %>"/>
                    </div>
                    <input type="submit" value="Update" class="btn btn-primary" />
                  </fieldset>
                </form>
              </div>
            </li>
            <li class="codecademy_tracks">
              <div class="profile-section2">
                <img id="ruby" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/1024px-Ruby_logo.svg.png" />
                <p class="profile-value"><%= @profile["ruby_track_completedness"] %></p>
                <form class="hide" action="/update" method="POST">
                  <fieldset>
                    <div class="form-group">
                      <label for="trainee[ruby_track_completedness]"></label>
                      <input type="text" name="trainee[ruby_track_completedness]" value="<%= @profile["ruby_track_completedness"] %>"/>
                    </div>
                    <input type="submit" value="Update" class="btn btn-primary" />
                  </fieldset>
                </form>
              </div>
            </li>
            <li class="codecademy_tracks">
              <div class="profile-section2">
                <img id="html" src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" />
                <p class="profile-value"><%= @profile["web_track_completedness"] %></p>
                <form class="hide" action="/update" method="POST">
                  <fieldset>
                    <div class="form-group">
                      <label for="trainee[web_track_completedness]"></label>
                      <input type="text" name="trainee[web_track_completedness]" value="<%= @profile["web_track_completedness"] %>"/>
                    </div>
                    <input type="submit" value="Update" class="btn btn-primary" />
                  </fieldset>
                </form>
              </div>
            </li>
          </ul>
        </div>

        <div class="profile-section2">
          <h5><%= @profile_array[5].capitalize.split("_").join(" ") %>:</h5>
          <p class="profile-value"><a id="github"><%= @profile["github"] %></a></p>
          <form class="hide" action="/update" method="POST">
            <fieldset>
              <div class="form-group">
                <label for="trainee[github]"></label>
                <input type="text" name="trainee[github]" value="<%= @profile["github"] %>"/>
              </div>
              <input type="submit" value="Update" class="btn btn-primary" />
            </fieldset>
          </form>
        </div>

        <div class="profile-section2">
          <h5><%= @profile_array[12].capitalize.split("_").join(" ") %>:</h5>
          <p class="profile-value"><%= @profile["twitter"] %></p>
          <form class="hide" action="/update" method="POST">
            <fieldset>
              <div class="form-group">
                <label for="trainee[twitter]"></label>
                <input type="text" name="trainee[twitter]" value="<%= @profile["twitter"] %>"/>
              </div>
              <input type="submit" value="Update" class="btn btn-primary" />
            </fieldset>
          </form>
        </div>
        <p class="update pull-right" onclick="countWords(event)">
          Word count
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <div id="about" class="profile-section box">
        <h4>More About Me</h4><p class="update pull-right" onclick="showUpdate(event)">Update</p>

        <div class="profile-section2">
          <h5><%= @profile_array[2].capitalize.split("_").join(" ") %>:</h5>
          <p class="profile-value"><%= @profile["employment_status"] %></p>
          <form class="hide" action="/update" method="POST">
            <fieldset>
              <div class="form-group">
                <label for="trainee[employment_status]"></label>
                <input type="text" name="trainee[employment_status]" value="<%= @profile["employment_status"] %>"/>
              </div>
              <input type="submit" value="Update" class="btn btn-primary" />
            </fieldset>
          </form>
        </div>

        <div class="profile-section2">
          <h5><%= @profile_array[6].capitalize.split("_").join(" ") %>:</h5>
          <p class="profile-value"><%= @profile["homepage"] %></p>
          <form class="hide" action="/update" method="POST">
            <fieldset>
              <div class="form-group">
                <label for="trainee[homepage]"></label>
                <input type="text" name="trainee[homepage]" value="<%= @profile["homepage"] %>"/>
              </div>
              <input type="submit" value="Update" class="btn btn-primary" />
            </fieldset>
          </form>
        </div>

        <div class="profile-section2">
          <h5><%= @profile_array[9].capitalize.split("_").join(" ") %>:</h5>
          <p class="profile-value"><%= @profile["phone_number"] %></p>
          <form class="hide" action="/update" method="POST">
            <fieldset>
              <div class="form-group">
                <label for="trainee[phone_number]"></label>
                <input type="text" name="trainee[phone_number]" value="<%= @profile["phone_number"] %>"/>
              </div>
              <input type="submit" value="Update" class="btn btn-primary" />
            </fieldset>
          </form>
        </div>
        <p class="update pull-right" onclick="countWords(event)">
          Word count
        </p>
      </div>
    </div>
  </div>


  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  // WORD COUNT
  function countWords(event) {
    var words = event.currentTarget.parentNode.parentNode.innerText.split(/\n|\s/g)
    var new_words = [];
    for (var i = 0; i < words.length; i++) {
      if (words[i].length>0) {
        new_words.push(words[i]);
      }
    }
    var word_count = new_words.length;
    console.log(new_words)

    alert("Word count in this section: " + word_count);
  }

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = document.body.innerText.split(" ").length;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  document.getElementById('word-count').innerHTML = total_words;

  // ACCOUNT LINKS
  document.getElementById('github').href = "https://github.com/" + document.getElementById('github').innerText
  document.getElementById('codecademy').href = "https://codecademy.com/" + document.getElementById('codecademy').innerText

  //UPDATE
  function showUpdate(event) {
    if (event.currentTarget.innerHTML == "Update") {
      event.currentTarget.innerHTML = "Close";
    }
    else {
      event.currentTarget.innerHTML = "Update";
    };
    var form = event.currentTarget.parentNode.parentNode.getElementsByTagName('form');

    for (var i = 0; i < form.length; i++) {
      form[i].classList.toggle('hide');
    }
  };

  // SIZING
  function sizing() {
    setInterval(function() {
      var accounts_height = document.getElementById('accounts').offsetHeight;
      var px = "px"
      var height = accounts_height.toString().concat(px)
      document.getElementById('about').style.height = height;
    }, 10);
  };
  sizing()
</script>
