<% if @profile %>
  <h3><%= @profile["first_name"] %>'s Amazing Profile</h3>
   
   <div id="details" class="profile-section">
     <% ["first_name","twitter","last_name","homepage","dob","github","gender","employment_status","phone_number","codecademy"].each do |field| %>
       <div class="profile-section-<%= @a =  @a == "left" ? "right" : "left"  %> box">
         <h4><%= field.split("_").map{|b| b.capitalize}.join(" ")  %></h4>
         <p id="details" class="profile-value"><%=   @profile[field] %></p>
       </div>
     <%end%>    
   </div>

   <a id="edit" href="/edit">Edit Profile</a>

   <div id="trainee" class="profile-section">
     <% ["about","ambition","projects","learning_experience","rationale"].each do |field| %>
        <div class="profile-section-left box">
          <h4><%= field.split("_").map{|b| b.capitalize}.join(" ")  %></h4>
          <p class="profile-value"><%=  @profile[field] %></p>
        </div>   
     <%end%>    
  </div>

  <a id="edit" href="/edit">Edit Profile</a>

    <div id="codeacademy" class="profile-section">
      
      <div class="profile-section-left box">
      <h4>Codeacademy</h4>
        <ul>
          <% ["web_track_completedness","js_track_completedness","ruby_track_completedness"].each do |field| %>
          <li><p><%= field.split("_")[0,2].map{|b| b.capitalize}.join(" ")  %></p><p>&#10004</p></li>
          <%end%>
        </ul>
     </div>    
  </div>

  
    
    
  

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var CountWords = function(text)
  {
    return text.replace(/\W+/g,' ').trim().split(' ').length;
  }

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;
  console.log(profile_values.length);
  for ( var i=0; i < profile_values.length; i += 1 ) {
    
    var this_item = CountWords(profile_values.item(i).innerHTML);
    total_words += this_item;
    
  }


  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  document.getElementById('word-count').innerHTML = total_words;
</script>