<% if @profile %>
  <h3 style="text-align: center;"><span><%= @profile["first_name"] %>'s Super Amazing Profile</span></h3>
  
  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
    
    <p style="text-align: left;"><span>About Me</span></p>
    <div id="about">
        <div class="profile-section box">
            <h2 %=@profile.keys[3]%></h2>First name: 
            <h3 class="profile-value"><%=@profile["first_name"]%></h3>
            
            <h2 %=@profile.keys[8]%></h2>Last name: 
            <h3 class="profile-value"><%=@profile["last_name"]%></h3>
            
            <h2 %=@profile.keys[1]%></h2>Date of birth: 
            <h3 class="profile-value"><%=@profile["dob"]%></h3>

            <h2><%=@profile.keys[4].capitalize%>:</h2> 
            <h3 class="profile-value"><%=@profile["gender"]%></h3>    

            <h2 %=@profile.keys[2]%></h2>Employment status: 
            <h3 class="profile-value"><%=@profile["employment_status"]%></h3>
        </div>
    </div>
    <img src="/images/iryna.jpg" />
    <div id="codecademy">
        <div class="profile-section box">
            <h2><%=@profile.keys[0].capitalize%></h2> 
            <h2 class="profile-value"><%=@profile["codecademy"]%></h2>
        </div>
    </div>
    <div id="completedness">
        <div class="profile-section box">
            <h2><%=@profile.keys[7]%></h2> 
            <h3 class="profile-value"><%=@profile["js_track_completedness"]%></h3>
        </div>
        <div class="profile-section box">
            <h2><%=@profile.keys[11]%></h2> 
            <h3 class="profile-value"><%=@profile["ruby_track_completedness"]%></h3>
        </div>
        <div class="profile-section box">
            <h2><%=@profile.keys[13]%></h2> 
            <h3 class="profile-value"><%=@profile["web_track_completedness"]%></h3>
        </div>
    </div>
    <table align="right">
    <thead>
    <tr><th colspan="2">Contact</th><tr>
    </thead>
    <tr>
        <td><p %=@profile.keys[9]%><p>Phone number:</td> 
        <td><p><%=@profile["phone_number"]%></p></td>
    </tr>
    <tr> 
        <td><p %=@profile.keys[5]%><p>Github:</td> 
        <td><p><%=@profile["github"]%></p></td>       
    </tr>
    <tr>
        <td><p %=@profile.keys[12]%><p>Twitter:</td> 
        <td><p><%=@profile["twitter"]%></p></td>        
    </tr>
    </table>

   

    <!--<% @profile.each do |field, value| %>
    <div class="profile-section box">
      <h4><%= field %></h4>
      <p class="profile-value"><%= value %></p>
    </div>
    <% end %> -->

    <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript 
    <span id="word-count">0</span> words found. -->

    <!-- I wanted to do STAT in more interactive way, but by some reason it shows only 10 words
    which is definitely not correct. I keep working on it.-->
        <script type="text/javascript">
            function countWords() {
            profile_values = document.getElementsByClassName('profile-value');
            total_words = 0;
            for (i = 0; i < profile_values.length; i++) {
                total_words += profile_values[i].innerHTML.split(' ').length;
            }
            document.getElementById('zero').innerHTML = total_words
            }
        </script>
        <p>The number of words within my profile is <b id='zero'>0.</b>  </p>
        <input type='button' onclick='countWords()' value='Click to count the words' />
    </div>

<!--    <div class="profile-section box">
        <h2><%=@profile.keys[10].capitalize%></h2> 
        <h3 class="profile-value"><%=@profile["primes_sum"]%></h3>
    </div> -->
    
<!--I keep working on this challenge. The issue is how to store the user input's number to use it furhter in Ruby function Primes.sum_to(here is user input number) and then how to show it in result within a file primes.erb  
    <p>Let's get Fun!</p> 
    <p>Enter any number up to 2 000 000 to find the sum of all prime numbers under it! </p>
    <form action="/primes">
        Your number: <input type="text" name="userNum">
        <input type="submit" value="Answer">
    </form> -->

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>







  <div class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>
<!-- Add your Javascript to this script tag -->
<script language="javascript">
    function countWords() {
    var profile_values = document.getElementsByClassName('profile-value');
    var total_words = 0;
  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.
    
</script>
