<% if @profile %>
  <h3><%= @profile["first_name"] %>'s Amazing Profile</h3>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
 <ol id= "list">
  <% @profile.each do |field, value| %>
   <li><span > <div class="profile-section box" id= "list">

     <h4 class="field"><%= field %></h4>
      <p class="profile-value"><%= value %></p>

      <% if field == "codecademy" %>
      
      <div id= '<%= field %>' >

        <div id = "cd_name">
          <input type= "text" id= 'text' >
          <input type= "submit" value= "Add User Name" id= 'add' onclick='add_text()'><br />
      
    <%end %>

       <% if field == "js_track_completedness" %>
              <b>JavaScript: </b> <progress id="javaProgress" value="99" max="100"></progress> 99%
       <% end %>

        <% if field == "ruby_track_completedness" %>
               <b>Ruby Progress: </b> <progress id="rubyProgress" value="99" max="100"></progress> 99% 
       <% end %>

        <% if field == "web_track_completedness" %>
                <b>Web Track Progres: </b> <progress id="rubyProgress" value="99" max="100"></progress> 99%
       <% end %>

    </div></span> </li>
  <% end %>
</ol> 

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->

<script>
  
  function add_text() {
   
     var codecademy_add = document.getElementById('cd_name');
     var text = document.getElementById('text');
     var user_input = text.value;

    // removes text field and add button
     while (codecademy_add.firstChild) {  
        codecademy_add.removeChild(codecademy_add.firstChild);
     }

    // creates a href link using the username the user as input
     var new_el = document.createElement('a');
     var att = document.createAttribute('href');
     att.value =  "http://www.codecademy.com/" + user_input ; 

     new_el.setAttributeNode(att)
     var text_input = document.createTextNode(user_input); 
     new_el.appendChild(text_input);

      codecademy_add.appendChild(new_el) ;
  }


    
</script>

    <span id="word-count" ><b><u>Sections with More Than 20 Words<u></b></span>
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  function word_count(){

      var word_c = document.getElementById("word-count") ;
      var wrapper = document.getElementById("list") ;
      var divcount = wrapper.children.length;


      for(i = 0 ; i < divcount; i++){

          var stext = wrapper.getElementsByTagName('p')[i].innerHTML
          var title = wrapper.getElementsByTagName('h4')[i].innerHTML

         if (stext.match(/\s/g) !== null) {
             stext_count = stext.match(/\s/g).length  ;
         
               if (stext_count > 20) {
       
                  //display list of sectons with more than 20 words
                  var new_el2 = document.createElement('p');
                  var text2 = document.createTextNode(title + " section : has  " + stext_count + " words");
                  new_el2.appendChild(text2);

                  word_c.appendChild(new_el2);

                }
          } 
      }     
        
     }
   

</script>