<% if @profile %>
    <h2 id="heading" class=""><%= @profile["first_name"] %>'s Amazing Profile</h2>
    <a href="https://github.com/ethaning/" target="_blank"><img id="mypic" class="" src="/images/me.jpg" alt="Ethan Carter"/></a>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
  <% @profile.each_slice(3).to_a.each do |array| %>
    <div class="row">
    <% array.each do |field, value| %>
      <div class="profile-section">
        <h4><%= field %>:</h4>
        <p class="profile-value"><%= value %></p>
        <p id="word-count"></p>
      </div>
      <% end %>

      </div>
    </div>
  <% end %>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>


  <div class="box">
    <h3>Edit Profile</h3>
    <form action="/update" method="POST">
      <fieldset>
      <div class="row"> 
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <textarea name="trainee[about]" class="forminput" cols="30" rows="10"><%= @profile["about"] %></textarea>
        </div>


        <div class="form-group">
          <label for="trainee[projects]">Projects</label>
          <textarea name="trainee[projects]" class="forminput" cols="30" rows="10"><%= @profile["projects"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[rationale]">Rationale</label>
          <textarea name="trainee[rationale]" class="forminput" cols="30" rows="10"><%= @profile["rationale"] %></textarea>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="trainee[ambition]">Ambition</label>
          <textarea name="trainee[ambition]" class="forminput" cols="30" rows="10"><%= @profile["ambition"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[learning_experience]">Learning Experience</label>
          <textarea name="trainee[learning_experience]" class="forminput" cols="30" rows="10"><%= @profile["learning_experience"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[how_did_you_hear]">How Did You Hear</label>
          <textarea name="trainee[how_did_you_hear]" class="forminput" cols="30" rows="10"><%= @profile["how_did_you_hear"] %></textarea>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="trainee[codecademy_username]">Codecademy Username</label>
          <textarea name="trainee[codecademy_username]" class="forminput" cols="30" rows="1"><%= @profile["codecademy_username"] %></textarea>
       
        <div class="form-group">
          <label for="trainee[primes_sum]">Primes Sum</label>
          <textarea name="trainee[primes_sum]" class="forminput" cols="30" rows="1"><%= @profile["primes_sum"] %></textarea>
      </div>

        <!-- TODO - Add more fields so that your profile can be edited -->

        <input type="submit" value="Update Profile" class="btn btn-primary" id="submit" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  document.getElementById('word-count').innerHTML = total_words;
</script>