<% if @profile %>
  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
  
  <div id"profile-picture" class="center">
    <img id="picture" src="/images/mahmud.png" width="300" height="250">
  </div>
  <div class="jumbotron">
    <h1 id="header" class="center"><%= @profile["first_name"] %>'s Amazing Profile</h1>
    <p class="center">Have no fear, an aspiring web developer is here!</p>
  </div>

  <% @profile.each do |field, value| %>
    <div class="profile-section box">
      <h4><%= field.upcase %></h4>
      <p class="profile-value"><%= if(field != "about" && field != "ambition") then value end %></p>
      <% case field 
      when "js_track_completedness" %>
       <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
          <span class="sr-only">100% Complete</span>100% complete
          </div>
      </div>
      
      <% when "web_track_completedness" %>
       <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
          <span class="sr-only">100% Complete</span>100% complete
          </div>
      </div>

      <% when "ruby_track_completedness" %>
       <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
          <span class="sr-only">100% Complete</span>100% complete
          </div>
      </div>
      <% when "about" %>
       <button><a href="/about">Find out about me</a></button>

       <% when "ambition" %>
       <button><a href="/ambition">Find out about me</a></button>

       <% when "codecademy" %>
       <a target="_blank" href="http://www.codecademy.com/mahmudh">My Codeacademy profile</a>
       
       <% else 

       %>
     <% end %>
    </div>
  <% end %>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <input style="" id="about-text" type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->
        <label for="trainee[twitter]">Twitter</label>
        <input style="" id="about-text" type="text" name="trainee[twitter]" value="<%= @profile["twitter"] %>"/>
        <br>
        <br>
        <label for="trainee[phone_number]">Mob:</label>
          <input style="" id="about-text" type="text" name="trainee[phone_number]" value="<%= @profile["phone_number"] %>"/>
          <br>
          <br>
          <label for="trainee[primes_sum]">Prime sum:</label>
          <input style="" id="about-text" type="text" name="trainee[primes_sum]" value="<%= @profile['primes_sum'] %>"/>
          <br>
          <br>
        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
  <div class="box">
    <p id="thank_you">Thank you very much for viewing my profile!</p>
    <button type="button" class="btn btn-default thanks">Click me!</button>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
</div>
<% end %>

<!-- Add your Javascript to this script tag -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.
  // total_words = document.getElementsByTagName('body').innerHTML;
  total_words = $("body").html().split(" ").length

  console.log("the number of words are " + total_words);


  document.getElementById('word-count').innerHTML = total_words;

  $("#thank_you").hide();

  $('.thanks').click(function() {
    $("#thank_you").show();
  })


</script>