<% if @profile %>

    <!--<%= @profile.inspect %> -->


    <h3><%= @profile["first_name"] %>'s Amazing Profile</h3>

    <!-- TODO- Perhaps re-jig this to fit your new design / layout -->

    <div class="profile-info box">
        <div id="profile-picture"><img src="images/rsz_ewelina.jpg" alt="ewelina's profile picture"/></div>
        <div>
            <h3>About me</h3>
            <table>
                <tr>
                    <td><h4>First name:  </h4></td>
                    <td><%= @profile["first_name"] %></td>
                </tr>
                <tr>
                    <td><h4>Last name:  </h4></td>
                    <td><%= @profile["last_name"] %></td>
                </tr>
                <tr>
                    <td><h4>Date of Birth:  </h4></td>
                    <td><%= @profile["dob"] %></td>
                </tr>
                <tr>
                    <td><h4>Gender:  </h4></td>
                    <td><%= @profile["gender"] %></td>
                </tr>
                <tr>
                    <td><h4>Employment status:  </h4></td>
                    <td><%= @profile["employment_status:"] %></td>
                </tr>
            </table>
            <div>
                <h4>Phone number: <%= @profile["phone_number"] %></h4>
            </div>
            <div><h4><%= @profile["about"] %></h4></div>
        </div>
        <div>
            <h4>My Ambition: <br><%= @profile["ambition"] %></h4>
            <h4>Projects: <br><%= @profile["projects"] %></h4>
        </div>
        <div>
            <h4>Rationale: <br><%= @profile["rationale"] %></h4>
            <h4>Learning experience: <br><%= @profile["learning_experience"] %></h4>
            <h4>How did you hear: <br><%= @profile["how_did_you_hear"] %></h4>
        </div>
           <div>
               <h3>You can find me</h3>
               <ul>
                   <li>Github: <%= @profile["github"] %> </li>
                   <li>Twitter: <%= @profile["twitter"] %> </li>
                   <li>Codecademy: <%= @profile["codcademy"] %> </li>
               </ul>
           </div>
        
        <!--<% @profile.each do |field, value| %>-->
            <!--<div class="profile-section box">-->
                <!--<h4><%= field.split('_').join(' ').capitalize() %>:</h4>-->

                <!--<p class="profile-value"><%= value %></p>-->
            <!--</div>-->
        <!--<% end %>-->

<% else %>
    <div class="welcome">
        <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

        <a href="/authorise">Authorise</a>
    </div>
    </div><% end %>