<% if @profile %>
  <h1 id="page-title"><%= @profile["first_name"] %>'s Amazing Profile!</h1>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
  <!--Image of myself-->
<div>
    <img id="me" src="/images/me.png" />
</div>
  <!--Navigation-->
<nav>
  <ul>
    <li><a href="#profile">Edit Profile</a></li>
    <li><a href="https://twitter.com/kiranwoochit">Twitter</a></li>
  </ul>
</nav>

  <!--Load profile-->

  <% @profile.each do |field, value| %>
    <div class="profile-section box">
      <h2><%= field.split("_").join(" ").capitalize%></h2>
      <p class="profile-value"><%= value %></p>
    </div>
  <% end %>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

<!--Edit profile-->


  <div class="box">
    <h3 id="profile">Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <textarea>"<%= @profile["about"] %>" </textarea>
        </div>
        <div class="form-group">
          <label for="trainee[ambition]">Ambition</label>
          <textarea>"<%= @profile["ambition"] %>" </textarea>
        </div>
        <div class="form-group">
          <label for="trainee[learning_experience]">Learning Experience</label>
          <textarea>"<%= @profile["learning_experience"] %>" </textarea>
        </div>
        <div class="form-group">
          <label for="trainee[projects]">Projects</label>
          <textarea>"<%= @profile["projects"] %>" </textarea>
        </div>
        <div class="form-group">
          <label for="trainee[rationale]">Rationale</label>
          <textarea>"<%= @profile["rationale"] %>" </textarea>
        </div>
        <div class="form-group">
          <label for="trainee[codeacademy]">Code Academy Profile</label>
          <textarea>"<%= @profile["codeacademy"] %>" </textarea>
        </div>


        <!-- TODO - Add more fields so that your profile can be edited -->
          <input type="submit" value="Update Profile" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;
  total_words = total_words + profile_values.length;
  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  document.getElementById('word-count').innerHTML = total_words;
</script>