<% if @profile %>
  <h1><%= @profile["first_name"] %>'s Amazing Profile</h1>
  <!-- Add picture -->
  <div id="profile-pic">
    <img src="../images/profile_pic.jpg" width="150" height="auto" border="0" alt="Natascha's profile picture" />
  </div>
  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
  <div id="profile-overview">
    <div class="info">
    <% @profile.each do |field, value| %>
      <!-- all profiles should be stand-alone -->
      <% if field != "codecademy" && field != "github" && field != "homepage" && field != "twitter" %>
        <div class="profile-section account-box">
          <h4><%= field %></h4>
          <p class="profile-value"><%= value %></p>
        </div>
      <% end %>
    <% end %>
    </div>
    <div class="accounts">
    <h4>Accounts</h4>
    <% @profile.each do |field, value| %>
     <% if field == "codecademy" || field == "github" || field == "homepage" || field == "twitter" %> 
          <div class="profile-section">
            <li><span class="list profile-value"><%= field %></span>: <span class="list-entry"><%= value %></span></li>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box">
    <h3>Edit Profile</h3>

    <form id="update-form" action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <textarea name="trainee[about]" rows="4"><%= @profile["about"] %></textarea>
        </div>
        <div class="form-group">
          <label for="trainee[ambition]">Ambition</label>
          <textarea name="trainee[ambition]" rows="4"><%= @profile["ambition"] %></textarea>
        </div>
        <div class="form-group">
          <label for="trainee[codecademy]">Codecademy</label>
          <input type="text" name="trainee[codecademy]" value="<%= @profile["codecademy"] %>"/>
        </div>
        <div class="form-group">
          <label for="trainee[projects]">Projects</label>
          <textarea name="trainee[projects]" rows="4"><%= @profile["projects"] %></textarea>
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.
  for(var i = 0; i < profile_values.length; i++) {
    //profile_values are HTML Elements. Get value.
    var text = profile_values[i].innerHTML;
    console.log(text);
    total_words += text.split(' ').length;
  }


  document.getElementById('word-count').innerHTML = total_words;
</script>