<% if @profile %>
   <!--<h3><%= @profile["first_name"] %>'s Amazing Profile</h3>-->  

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
  <% @profile.each do |field, value| %>
    <div class="profile-section box">
      <h3><%= field %>: </h3>
      <p class="profile-value"><%= value %></p>
    </div>
  <% end %>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About: </label>
          <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>    
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->
        <div class="form-group">
          <label for="trainee[ambition]">Ambition: </label>
          <input type="text" name="trainee[ambition]" value="<%= @profile["ambition"] %>"/>
        </div>   
        <div class="form-group">
          <label for="trainee[first_name]">Name: </label>
          <input type="text" name="trainee[first_name]" value="<%= @profile["first_name"] %>"/>
        </div> 
        <div class="form-group">
          <label for="trainee[last_name]">Surname: </label>
          <input type="text" name="trainee[last_name]" value="<%= @profile["last_name"] %>"/>
        </div> 
        <div class="form-group">
          <label for="trainee[github]">Github: </label>
          <input type="text" name="trainee[github]" value="<%= @profile["github"] %>"/>
        </div> 
        <div class="form-group">
          <label for="trainee[codecademy]">Codecademy: </label>
          <input type="text" name="trainee[codecademy]" value="<%= @profile["codecademy"] %>"/>
        </div>  

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.
  for (var i = 0 ; i < profile_values.length ; ++i)
  {  
    // to avoid '.length on null' error (if a given section has no data)
    // 'll be first checking for content.    
    var v = profile_values[i].innerHTML.match(/\S+/g);
    if(v !== null)
    {
      total_words += v.length;
    }
  }

  document.getElementById('word-count').innerHTML = total_words;
</script>