  

<% if @profile %>
<div class="heading">
  <div class="headingLeft">
    <img src="/images/logo.png" alt="We Got Coders"/>
  </div> 
  <div class="headingRight">
    <h1 class="nameTitle"><%= @profile["first_name"] + " " + @profile["last_name"] %> Profile</h1>
  </div>
</div>
  <div id="aboutMe">
  <div class="aboutMe_In">
    <img class="profilePic" src="/images/profile.jpg"/>
    
    <h2 style="text-decoration: underline; font-size: 20px;"><%= @profile['first_name'] + " " + @profile['last_name'] %></h2>
    <table>
  <% aboutArr = @profile.to_a %>
  <% aboutArr[0..8].each do |field, value| %>
      <tr>
        <td><%= field %>:</td>
        <td><%= value %></td>
      </tr>
  <% end %>  
  </table>
  </div>
  </div>
  <div id="longerItems">
    <% aboutArr[9..13].each do |field, value| %>
    <div class="individualItem">
      <h1><%= field.capitalize %></h1>
      <p><%= value %></p>
    </div>
    <% end %>
  </div>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box editProfile">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <input type="text" name="trainee['about']" value="<%= @profile['about'] %>"/>
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">

var allDivTd = document.getElementById("aboutMe").getElementsByTagName("TD");

var smallTotal = 0; 

for(var i = 0; i < allDivTd.length; i++){
  var td = allDivTd[i];
  if (i % 2 == 1) { 
  smallTotal += td.innerHTML.split(" ").length; 
  }
}
console.log("Small Total is: " + smallTotal); 

var bigTotal = 0;

var parent = document.getElementsByClassName("individualItem");

for (var i = 0; i < parent.length; i++){
  para = parent[i].getElementsByTagName("p");
  bigTotal += para[0].innerHTML.split(" ").length; 
}

console.log("Big Total is: " + bigTotal);

var together = smallTotal + bigTotal;

console.log(together);

document.getElementById("word-count").innerHTML = together; 

</script>