<% if @profile %>
  <div class="header">
    <h3><%= @profile["first_name"] %>'s Amazing Profile</h3>
  </div>
    
  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
  <div class="my_profile">
    <div class="profile_picture">
      <img src= "https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/005/068/304/3043d8b.jpg" alt= "Georgina Heap"/>
    </div>

  <div class="profile_details" id="grad">
    <h4>My Details</h4>
    <ul>
      <li><strong>First Name:</strong> <%= @profile["first_name"] %> </li>
      <li><strong>Last Name:</strong> <%= @profile["last_name"] %></li>
      <li><strong>Gender:</strong> <%= @profile["gender"] %></li>
      <li><strong>DOB:</strong> <%= @profile["dob"] %></li>
      <li><strong>Employment Status:</strong> <%= @profile["employment_status"] %></li>
      <li><strong>Phone Number:</strong> <%= @profile["phone_number"] %></li>
      <li><strong>Twitter:</strong> georgeheap</li>
      <li><strong>Github:</strong> <%= @profile["github"] %></li>
      <li><strong>Codecademy:</strong> georgeheap</li>
      <li><strong>Web Track Completedness:</strong> 100%</li>
      <li><strong>JS Track Completedness:</strong> 100%</li>
      <li><strong>Ruby Track Completedness:</strong> 100%</li>
    </ul>
  </div>

  <div class="profile_details" id="grad">
      <h4>About Me</h4>
      <p><%= @profile["about"] %></p>
  </div>
        

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About Me:</label>
          <textarea type="text" name="trainee[about]" cols="100" rows="5"><%= @profile["about"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[projects]">Projects:</label>
          <textarea type="text" name="trainee[projects]" cols="100" rows="5"><%= @profile["projects"] %></textarea>
        </div>  

        <div class="form-group">
          <label for="trainee[projects]">Interests:</label>
          <textarea type="text" name="trainee[interests]" cols="100" rows="5"><%= @profile["interests"] %></textarea>
        </div>  


        
        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  for (var i = 0; i < profile_values.length; i++) {
    total_words += profile_values[i].innerHTML.trim.split(/\s+/).length;

  };

  document.getElementById('word-count').innerHTML = total_words;
</script>