<% if @profile %>

    <div class="jumbotron">
    </div>

    <div class="prof-container">
        <div class="prof-image">
            <img class="prof" src="/images/profile.jpg" alt="Profile Picture" width="200px" height="200px">
        </div>

        <h1>Danny Santos</h1>
    </div>

    <nav>
        
        <h1>Danny Santos</h1>
        
        <ul>

            <li><a href="#about">About</a></li>
            <li><a href="#ambitions">Ambitions</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#rationale">Rationale</a></li>
            <li><a href="#learning-experience">Learning Experience</a></li>
            <li><a href="#edit-profile">Edit Profile</a></li>

        </ul>

        <p class="clear"></p>
    </nav>

<div class="left-container">
    
    <div class="left-content">
        
        <h2>Info</h2>

        <dl>

            <dt>Name:</dt>
            <dd><%= @profile["first_name"] %> <%= @profile["last_name"] %></dd>

            <dt>Date of Birth:</dt>
            <dd><%= @profile["dob"] %></dd>

            <dt>Gender:</dt>
            <dd><%= @profile["gender"] %></dd>

            <dt>Phone Number:</dt>
            <dd><%= @profile["phone_number"] %></dd>

            <dt>Employment Status:</dt>
            <dd><%= @profile["employment_status"] %></dd>

            <dt>Homepage:</dt>
            <dd><a href="http://<%= @profile["homepage"] %>" target="_blank"><%= @profile["homepage"] %></a></dd>

            <dt>Twitter:</dt>
            <dd><%= @profile["twitter"] %></dd>

            <dt>GitHub:</dt>
            <dd><%= @profile["github"] %></dd>

            <dt>Code Academy:</dt>
            <dd><a href="https://www.codecademy.com/Danny_Santos" target="_blank">Danny_Santos</a></dd>

            <dt>Prime Sum:</dt>
            <dd>142,913,828,922</dd>

        </dl>

    </div>


    <div id="stats" class="left-content">
        <h2>Stats</h2>
        <!-- TODO - Set the contents of this span with JavaScript -->
        <span id="word-count">0</span> words found.
    </div>

    <div id="problems" class="left-content">
        <h2>Programming Problems</h2>
        
        <p>Find the sum of all prime numbers below:</p>
        
        <form action="/primes">
            <input type="text" name="prime_limit" value="<%= @limit %>">
            <input type="submit" value="Get Answer">
        </form>
    </div>

</div>





<div class="right-container">
    
    <div id="about" class="right-content">
        <h2>Please tell us a bit about yourself</h2>
        <p class="profile-value"><%= @profile["about"] %></p>
    </div>

    <div id="ambitions" class="right-content">
        <h2>Where do you see your career in 1 year's time?</h2>
        <p class="profile-value"><%= @profile["ambition"] %></p>
    </div>

    <div id="projects" class="right-content">
        <h2>Tell us about a programming project that you worked on and what your role was</h2>
        <p class="profile-value"><%= @profile["projects"] %></p>
    </div>
    
    <div id="rationale" class="right-content">
        <h2>Why do you want to apply for this program?</h2>
        <p class="profile-value"><%= @profile["rationale"].sub('<marquee>', 'marquee') %></p>
    </div>

    <div id="learning-experience" class="right-content">
        <h2>What do you think makes for a positive learning and training experience?</h2>
        <p class="profile-value"><%= @profile["learning_experience"] %></p>
    </div>
    
    <div id="edit-profile" class="right-content">
        <h3>Edit Profile</h3>

        <form action="/update" method="POST">
          <fieldset>

            <div class="form-group">
              <label for="trainee[first_name]">First Name</label>
              <input type="text" name="trainee[first_name]" value="<%= @profile["first_name"] %>"/>
            </div>

            <div class="form-group">
              <label for="trainee[last_name]">Last Name</label>
              <input type="text" name="trainee[last_name]" value="<%= @profile["last_name"] %>"/>
            </div>

            <div class="form-group">
              <label for="trainee[dob]">Date of Birth</label>
                <input type="text" name="trainee[dob]" value="<%= @profile["dob"] %>"/>
            </div>

            <div class="form-group">
              <label for="trainee[gender]">Gender</label>
                <input type="text" name="trainee[gender]" value="<%= @profile["gender"] %>"/>
            </div>

            <div class="form-group">
              <label for="trainee[phone_number]">Phone Number</label>
              <input type="text" name="trainee[phone_number]" value="<%= @profile["phone_number"] %>"/>
            </div>

            <div class="form-group">
              <label for="trainee[employment_status]">Employment Status</label>
              <input type="text" name="trainee[employment_status]" value="<%= @profile["employment_status"] %>"/>
            </div>

            <div class="form-group">
              <label for="trainee[homepage]">Homepage</label>
              <input type="text" name="trainee[homepage]" value="<%= @profile["homepage"] %>"/>
            </div>

            <div class="form-group">
              <label for="trainee[twitter]">Twitter</label>
              <input type="text" name="trainee[twitter]" value="<%= @profile["twitter"] %>"/>
            </div>

            <div class="form-group">
              <label for="trainee[github]">GitHub</label>
              <input type="text" name="trainee[github]" value="<%= @profile["github"] %>"/>
            </div>

            <div class="form-group">
              <label for="trainee[code_academy]">Code Academy</label>
              <input type="text" name="trainee[code_academy]" value="<%= @profile["code_academy"] %>"/>
            </div>

            <div class="form-group">
              <label for="trainee[prime_sum]">Prime Sum</label>
              <input type="text" name="trainee[prime_sum]" value="<%= @profile["prime_sum"] %>"/>
            </div>

            <div class="form-group">
              <label for="trainee[about]">About <span>(Minimum 20 words)</span></label>
              <textarea id="aboutText" type="text" name="trainee[about]" cols="80" rows="10" onkeypress="activateSubmit('#aboutText', 'aboutError');">
                <%= @profile["about"] %>
              </textarea>
              <p id="aboutError" class="word-error"><span id="aboutCount">20</span> words (min. 20)</p>
            </div>

            <div class="form-group">
              <label for="trainee[ambition]">Ambitions <span>(Minimum 20 words)</span></label>
              <textarea id="ambitionText" type="text" name="trainee[ambition]" cols="80" rows="10" onkeypress="activateSubmit('#ambitionText', 'ambitionError', 'ambitionCount');">
                <%= @profile["ambition"] %>
              </textarea>
              <p id="ambitionError" class="word-error"><span id="ambitionCount">20</span> words (min. 20)</p>
            </div>

            <div class="form-group">
              <label for="trainee[projects]">Projects <span>(Minimum 20 words)</span></label>
              <textarea id="projectsText" type="text" name="trainee[projects]" cols="80" rows="10" onkeypress="activateSubmit('#projectsText', 'projectsError', 'projectsCount');">
                <%= @profile["projects"] %>
              </textarea>
              <p id="projectsError" class="word-error"><span id="projectsCount">20</span> words (min. 20)</p>
            </div>

            <div class="form-group">
              <label for="trainee[rationale]">Rationale <span>(Minimum 20 words)</span></label>
              <textarea id="rationaleText" type="text" name="trainee[rationale]" cols="80" rows="10" onkeypress="activateSubmit('#rationaleText', 'rationaleError', 'rationaleCount');">
                <%= @profile["rationale"] %>
              </textarea>
              <p id="rationaleError" class="word-error"><span id="rationaleCount">20</span> words (min. 20)</p>
            </div>

            <div class="form-group">
              <label for="trainee[learning_experience]">Learning Experience <span>(Minimum 20 words)</span></label>
              <textarea id="learningText" type="text" name="trainee[learning_experience]" cols="80" rows="10" onkeypress="activateSubmit('#learningText', 'learningError', 'learningCount');">
                <%= @profile["learning_experience"] %>
              </textarea>
              <p id="learningError" class="word-error"><span id="learningCount">20</span> words (min. 20)</p>
            </div>          

            <input type="submit" value="Update Profile" class="btn btn-primary" />
          </fieldset>
        </form>
   </div>
</div>

    <p class="clear"></p>

<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;
  var current_words = 0;
    
  var about_value = profile_values[0];

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.
    
  function WordCount(words) {
      return words.innerHTML.split(" ").length;
  }
    
  total_words  = WordCount(profile_values[0]);
  total_words += WordCount(profile_values[1]);
  total_words += WordCount(profile_values[2]);
  total_words += WordCount(profile_values[3]);
  total_words += WordCount(profile_values[4]);

  document.getElementById('word-count').innerHTML = total_words;

  function activateSubmit(idText, idError, idCount){
    var len = $(idText).val().split(" ").length;
      console.log(len);
    document.getElementById(idCount).innerHTML = len;
    if(len >= 20) { 
      document.getElementById(idError).style.display = "none";
    } else {
      document.getElementById(idError).style.display = "block";
    }
  }
    
</script>