<% if @profile %>
  <h3>Welcome to <%= @profile["first_name"] %>'s Amazing Profile</h3>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->

   <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="images/me.jpg" class="img-circle img-responsive circle"> </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      
                      <% @profile.each do |field, value| %>
                      <tr> 
                        <td>
                          <h4><%= field %></h4>
                        </td>
                        <td>
                          <p class="profile-value"><%= value %></p>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.erb" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        </span>
                    </div>
            
          </div>
        </div>
      </div>



  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="jumbotron">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
           <div class="row">
        <div class="form-group">
          <label for="trainee[about]" class="col-sm-3 control-label">About</label>
          <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>

        <!-- TODO - Add more fields so that your profile can be edited -->
          <br>
          <label for="trainee[codecademy]" class="col-sm-3 control-label">Codecademy Username: </label>
          <input type="text" name="trainee[codecademy]" value="<%= @profile["codecademy"] %>"/>

          <br>

          <label for="trainee[dob]" class="col-sm-3 control-label">Edit DOB: </label>
          <input type="text" name="trainee[dob]" value="<%= @profile["dob"] %>"/>

          <br>

          <label for="trainee[first_name]" class="col-sm-3 control-label">First Name: </label>
          <input type="text" name="trainee[first_name]" value="<%= @profile["first_name"] %>"/>

          <br>

          <label for="trainee[employment_status]" class="col-sm-3 control-label">Employment Status: </label>
          <input type="text" name="trainee[employment_status]" value="<%= @profile["employment_status"] %>"/>

          <br>

          <label for="trainee[gender]" class="col-sm-3 control-label">Gender: </label>
          <input type="text" name="trainee[gender]" value="<%= @profile["gender"] %>"/>

          <br>

          <label for="trainee[github]" class="col-sm-3 control-label">Github:  </label>
          <input type="text" name="trainee[github]" value="<%= @profile["github"] %>"/>

          <br>

          <label for="trainee[homepage]" class="col-sm-3 control-label">Homepage: </label>
          <input type="text" name="trainee[homepage]" value="<%= @profile["homepage"] %>"/>

          <br>

          <label for="trainee[last_name]" class="col-sm-3 control-label">Last Name: </label>
          <input type="text" name="trainee[last_name]" value="<%= @profile["last_name"] %>"/>

          <br>

          <label for="trainee[phone_number]" class="col-sm-3 control-label">Phone Number: </label>
          <input type="text" name="trainee[phone_number]" value="<%= @profile["phone_number"] %>"/>

          <br>

          <label for="trainee[primes_sum]" class="col-sm-3 control-label">Primes Sum: </label>
          <input type="text" name="trainee[primes_sum]" value="<%= @profile["primes_sum"] %>"/>

          <br>

          <label for="trainee[twitter]" class="col-sm-3 control-label">Twitter: </label>
          <input type="text" name="trainee[twitter]" value="<%= @profile["twitter"] %>"/>

          <br>

          <label for="trainee[js_track_completedness]" class="col-sm-3 control-label">Codecademy Javascript progress: </label>
          <input type="text" name="trainee[js_track_completedness]" value="<%= @profile["js_track_completedness"] %>"/>

          <br>

          <label for="trainee[ruby_track_completedness]" class="col-sm-3 control-label">Codecademy Ruby progress: </label>
          <input type="text" name="trainee[ruby_track_completedness]" value="<%= @profile["ruby_track_completedness"] %>"/>

          <br>

          <label for="trainee[web_track_completedness]" class="col-sm-3 control-label">Codecademy Web progress: </label>
          <input type="text" name="trainee[web_track_completedness]" value="<%= @profile["web_track_completedness"] %>"/>

        </div>
      </div>

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  document.getElementById('word-count').innerHTML = total_words;
</script>