<% if @profile %>
<div class="head">
  <div  class="container text-center">
    <img class = "img-responsive img-circle margin text-center" style="display:inline" src = "/images/matt.jpg" alt ="Matthew Jackman" width="350" height="350"></img>
    <h1 class= "name"><%= @profile["first_name"] %> <%= @profile["last_name"] %></h1>
    <h4 class= "details">Date of Birth: <%= @profile["dob"] %></h4>
    <h4 class= "details">Gender: <%= @profile["gender"] %></h4>
    <h4 class= "details">Employment: <%= @profile["employment_status"] %></h4>
    <h4 class= "details">Phone Number: <%= @profile["phone_number"] %></h4>
  </div>
</div>

<div class="discriptions">
  <div class="container-fluid">
    <div class="row col-sm-6 text-center">
      <h3>About Me</h3>
      <p class="info"><%= @profile["about"] %></p>
      <br>
      <p class="count"><span id="about">0</span> words found.</p>
    </div>
    <div class="row col-sm-6 text-center">
      <h3>Reason For Taking Course</h3>
      <p class="info"><%= @profile["rationale"] %></p>
      <br>
      <p class="count"><span id="rationale">0</span> words found.</p>
    </div>
    <div class="row col-sm-12 text-center">
      <h3>My Project</h3>
      <p class="info"><%= @profile["projects"] %></p>
      <br>
      <p class="count"><span id="projects">0</span> words found.</p>
    </div>
    <div class="row col-sm-6 text-center">
      <h3>My Ambotions</h3>
      <p class="info"><%= @profile["ambition"] %></p>
      <br>
      <p class="count"><span id="ambition">0</span> words found.</p>
    </div>
    <div class="row col-sm-6 text-center">
      <h3>A Good Learning Experience</h3>
      <p class="info"><%= @profile["learning_experience"] %></p>
      <br>
      <p class="count"><span id="learning_experience">0</span> words found.</p>
    </div>
    <div class="row col-sm-12 text-center">
      <h3>primes_sum<h3>
      <p class="info"><%= @profile["primes_sum"] %></p>
    </div>
    <div class="col-sm-12 text-right"
      <h3><b>Stats</b></h3>
      <p><span id="word-count">0</span> words found.</p>
    </div>
  </div>
</div>

  <!--<h3><%= @profile["first_name"] %>'s Amazing Profile</h3>
  TODO- Perhaps re-jig this to fit your new design / layout -->
  <% @profile.each do |field, value| %>
  <div class = "col-sm-6">
    <div class="profile-section box hidden">
      <h3 class="profile-field hidden"><%= field %></h3>
      <p class="profile-value hidden"><%= value %></p>
    </div>
  </div>
  <% end %>

  <!--<div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <!--<span id="word-count">0</span> words found.
  </div>-->


<div class="container text-center" id="discriptions">
  <h3>Edit Profile</h3>

  <form action="/update" method="POST">
    <fieldset>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <textarea class="ab form-control" col="85" rows="10" name="trainee[about]"/><%= @profile["about"] %></textarea>
          <!--<input class="ab form-control" type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="trainee[projects]">Projects</label>
          <textarea class="pj form-control" col="85" rows="10" name="trainee[projetcs]"/><%= @profile["projects"] %></textarea>
          <!--<input class="pj form-control" type="text" name="trainee[projetcs]" value="<%= @profile["projects"] %>"/>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="trainee[rationale]">Rationale</label>
          <textarea class="rt form-control" col="85" rows="10" name="trainee[rationale]"/><%= @profile["rationale"] %></textarea>
          <!--<input class="rat form-control" type="text" name="trainee[rationale]" value="<%= @profile["rationale"] %>"/>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="trainee[ambition]">Ambition</label>
          <textarea class="amb form-control" col="85" rows="10" name="trainee[ambition]"/><%= @profile["ambition"] %></textarea>
          <!--<input class="amb form-control" type="text" name="trainee[ambition]" value="<%= @profile["ambition"] %>"/>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="trainee[learning_experience]">Learning Experience</label>
          <textarea class="le form-control" col="85" rows="10" name="trainee[learning_experience]"/><%= @profile["learning_experience"] %></textarea>
          <!--<input class="le form-control" type="text" name="trainee[learning_experience]" value="<%= @profile["learning_experience"] %>"/>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="trainee[primes_sum]">Enter the sum of prime numbers up to two million</label>
          <input class="pm form-control" type="text" name="trainee[primes_sum]" value="142913828922"/>
        </div>
      </div>
      <div class="col-sm-4">
        <form>
          <div class="form-group">
            <lable for="codecademy"><b>Enter Codecademy account name:</b></label>
            <input id="username" type="account-name" class="form-contol" value="jackamn2000">
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input id="btn" type="button" class="btn btn-primary" value="Input Button" onclick="location.href = 'https://www.codecademy.com/Jackman2000';" target="_blank">
            </div>
          </div>
        </form>
      </div>
      <!-- TODO - Add more fields so that your profile can be edited -->
      <div class="col-sm-12 text-center">
        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </div>
    </fieldset>
  </form>
</div>

<div class="container" id="problems" >
  <h3>Programming Problems</h3>
  <br>
  <div class="list">
    <h4>Enter a number to find:</h4>
    <ul style="list-style-type:disc">
      <li>The sum of all the prime number within it.</li>
      <li>The sum of all the multiples of 3 or 5.</li>
    </ul>
  </div>
    <form action="/primes" method="GET">
      <input type="text" name="limit">
      <input type="submit" value="Enter" class="btn btn-primary">
    </form>
</div>

<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>



<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var profile_field = document.getElementsByClassName('profile-field');
  var total_words = 0;
  var box_words = 0;
  var arr = [].slice.call(profile_field);
  wordCount();
  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.
    function wordCount(){
      for (var i=9; i<profile_values.length; i++){
      box_words = profile_values[i].innerHTML.split(" ").length;
      total_words += box_words;
      if(box_words < 20){
        document.getElementById(arr[i].innerHTML).innerHTML = "You need 20 words or more, only " + box_words + ", ";
      }
      else{
        document.getElementById(arr[i].innerHTML).innerHTML = box_words;

      }
      document.getElementById("word-count").innerHTML = "Total of " + total_words;
  }
}
</script>
