<% if @profile %>
  <div id="profile-photo" class="col-md-12">
      <img class="profile-img" src="/images/137bb71.jpg" alt="Chris" />
  </div>
<div class="col-md-12">
    <h1 id="name-header" class="text-center"><%= @profile["first_name"] %> <%= @profile["last_name"] %></h1>
    <h3 id="sub-header" class="text-center">We Got Coders Profile</h3>
</div>
  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
<div class="col-md-6 col-md-offset-3">
    <hr>
</div>

<div class="container">
  
<div class="profile container-fluid">
  <div class="profile-section box col-md-12"> 
    <h3>About</h3>
      <p class="profile-value"><%= @profile["about"] %></p>
  </div>
  <div class="row">
      <div class="profile-section box col-md-6">
        <h3>Projects</h3>  
          <p class="profile-value"><%= @profile["projects"] %></p>
      </div>
      <div class="profile-section box col-md-6">
        <h3>Learning Experience</h3> 
          <p class="profile-value"><%= @profile["learning_experience"] %></p>
      </div>
  </div>
  <div class="row">
      <div class="profile-section box col-md-6">
        <h3>Ambition</h3>
          <p class="profile-value"><%= @profile["ambition"] %></p>
      </div>
      <div class="profile-section box col-md-6">
        <h3>Rationale</h3>
          <p class="profile-value"><%= @profile["rationale"] %></p>
      </div>
  </div>
</div>

</div>

  <div id="stats" class="col-md-6 box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count"></span> words found.
  </div>

  <div id="problems" class="col-md-6 box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;
  // Double check I can get length in the manner I want to.
  // console.log(profile_values[1].innerHTML.split(" ").length)

  // Get the number of profile values elements for my for loop.
  // console.log(profile_values.length);

  for (var i = 0; i < profile_values.length; i++) {
    // Double check my for loop works as I want it to.
    // console.log(profile_values[i].innerHTML.split(" ").length);

    // Add each loop to the total words variable.
    total_words += profile_values[i].innerHTML.split(" ").length;
    // Log to console.
    console.log(total_words)
  };

  document.getElementById('word-count').innerHTML = total_words;
</script>