<% if @profile %>
  <h3><%= @profile["first_name"] %>'s Amazing Profile</h3>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
   
   <img class="profile-picture" src="/images/profile.jpg"/>

<!-- Changed initial section to produce a list -->

  <div class='info-container'>
    <ul>
      <% @profile.first(10).each do |field, value| %>
      <li><%= field %>: <%= value %></li>
      <% end %>
    </ul>
  </div>


  <% @profile.each do |field, value| %>
    <div class="application-box">
      <button class="accordion"><%= field %></button>
      <div class="panel">
        <p class="profile-value"><%= value %></p>
      </div>
    </div>
  <% end %>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->

        <div class="form-group">
          <label for="trainee[projects]">Projects</label>
          <input type="text" name="trainee[projects]" value="<%= @profile["projects"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[rationale]">Rationale</label>
          <input type="text" name="trainee[rationale]" value="<%= @profile["rationale"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[ambition]">Ambition</label>
          <input type="text" name="trainee[ambition]" value="<%= @profile["ambition"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[learning_experience]">Learning Experience</label>
          <input type="text" name="trainee[learning_experience]" value="<%= @profile["learning_experience"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[codecademy]">Codecademy Profile</label>
          <input type="text" name="trainee[codecademy]" value="https://www.codecademy.com/Drexxy898"/>
        </div>

        <div class="form-group">
          <label for="trainees[prime_sum]">Primes Sum</label>
          <input type="text" name="trainees[prime_sum]" value="142913828922">
        </div>

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>



<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>

<!-- JavaScript for accordion -->
<script language="javascript">
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i=0; i < acc.length; i++) {
    acc[i].onclick = function(){
      this.classList.toggle("active");

      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
          panel.style.display = "none";
      } else {
          panel.style.display = "block";
      }
    }
  }
</script>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value')
  var total_words = 0

/* Not entirely accurate, paragraph jumps are counting 2 words as one so slightly lower count then should be. Will need to correct later */

 for (var i = 0; i < profile_values.length; i++) {
  total_words += profile_values[i].innerHTML.split(" ").length;

};

  document.getElementById('word-count').innerHTML = total_words;
</script>
