<% if @profile %>

    <div id="header">
        <h1>Claudio's Amazing Profile</h1>
    </div>

    <div id="navbar">
        <ul>
            <li>
                <a href="#">Stats</a>
            </li>
            <li>
                <a href="/primes">Primes</a>
            </li>
            <li class="box">
                <img src="/images/profile.jpg"/>
                <a href="/pictures" style="color: black"><div class="inner-box">More Pictures
                </div></a>
            </li>
        </ul>
    </div>

    <% @profile.each do |field, value| %>
        <div class="content">
            <h4><%= field %></h4>
            <p><%= value %></p>
        </div>
    <% end %>

    <div class="content big-content">
        <h4 style="height: 100px; line-height: 100px; text-align: center">Edit Profile</h4>

        <form action="/update" method="POST">
          <fieldset>
        
            <% @profile.each do |field, value| %>
                <div class="form-group">
                    <label for="trainee[<%= field %>]"><%= field %></label>
                    <input type="text" name="trainee[<%= field %>]" value="<%= value %>"/>
                </div>
            <% end %>

            <div class="align">
                <input type="submit" value="Update Profile" class="btn"/>
            </div>

          </fieldset>
        </form>
    </div>

<% else %>
    <div class="welcome">
        <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

        <a href="/authorise">Authorise</a>
    </div>
<% end %>








<!--JAVASCRIPT-->
<script language="javascript">
    var profile_values = document.getElementsByClassName('profile-value')

    var total_words = 0
    for (var i = 0; i < profile_values.length; i += 1) {
        total_words += profile_values[i].innerHTML.split(' ').length
    }

    document.getElementById('word-count').innerHTML = total_words
</script>