

<% if @profile %>








    <div class="jumbotron">
    </div>

    <div class="prof-container">
        <div class="prof-image">
            <img class="prof" src="/images/profile.jpg" alt="Profile Picture" width="200px" height="200px">
        </div>

        <h1>Danny Santos</h1>
    </div>

    <nav>
        <ul>

            <li><a href="#about">About</a></li>
            <li><a href="#ambitions">Ambitions</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#rationale">Rationale</a></li>
            <li><a href="#learning-experience">Learning Experience</a></li>

        </ul>

        <p class="clear"></p>
    </nav>

<div class="left-container">
    
    <div class="left-content">
        
        <h2>Info</h2>

        <dl>

            <dt>Name:</dt>
            <dd>Danny Santos</dd>

            <dt>Date of Birth:</dt>
            <dd>16/02/1988</dd>

            <dt>Gender:</dt>
            <dd>Male</dd>

            <dt>Phone Number:</dt>
            <dd>07711955084</dd>

            <dt>Employment Status:</dt>
            <dd>Self-Employed</dd>

            <dt>Homepage:</dt>
            <dd><a href="www.dannysantos.com">www.dannysantos.com</a></dd>

            <dt>Twitter:</dt>
            <dd>@dannysantos</dd>

            <dt>GitHub:</dt>
            <dd>DannySantos</dd>

        </dl>

    </div>


    <div id="stats" class="left-content">
        <h2>Stats</h2>
        <!-- TODO - Set the contents of this span with JavaScript -->
        <span id="word-count">0</span> words found.
    </div>

    <div id="problems" class="left-content">
        <h2>Programming Problems</h2>
        <a href="/primes">My Prime Number Solution</a>
    </div>

</div>

<div class="right-container">
    
    <div id="about" class="right-content">
        <h2>About</h2>
        <p><%= @profile["about"] %></p>
    </div>

    <div id="ambitions" class="right-content">
        <h2>Ambitions</h2>
        <p><%= @profile["ambition"] %></p>
    </div>

    <div id="projects" class="right-content">
        <h2>Projects</h2>
        <p><%= @profile["projects"] %></p>
    </div>

    <div id="rationale" class="right-content">
        <h2>Rationale</h2>
        <p><%= @profile["rationale"].sub('<marquee>', 'marquee') %></p>
    </div>

    <div id="learning-experience" class="right-content">
        <h2>Learning Experience</h2>
        <p><%= @profile["learning_experience"] %></p>
    </div>
    
</div>

    <p class="clear"></p>

  <div class="right-content">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->
        <div class="form-group">
          <label for="trainee[rationale]">Rationale</label>
          <input style="width:500px" type="text" name="trainee[rationale]" value="<%= @profile["rationale"] %>"/>
        </div>

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  document.getElementById('word-count').innerHTML = total_words;
</script>