<% if @profile %>
  <h2 id="profile_title"><%= @profile["first_name"] %>'s Amazing Profile</h2>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
  <div id="navdiv">
    <div id="nav_button">
        <h3>Navigate</h3>
          <img class = "arrow" id="downarrow" src="images/downarrow.png" />
          <img class = "arrow hidden" id="uparrow" src="images/uparrow.png" />
    </div>
    <nav id="navbar">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#ambition">Ambition</a></li>
        <li><a href="#codecademy">General</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#rationale">Rationale</a></li>
        <li><a href="#problems">Problems</a></li>
        <li><a href="#editbox">Edit</a></li>
      </ul>
    </nav>
  </div>
  <div id="maincontent">
  <img id="profile-pic" src="images/me.JPG" />
  <img id="inksplat" src="images/inksplat.jpg" />
  <img id="peel" src="images/peel.jpg" />

  <a href="http://twitter.com/ctweedz"><img id="twitterlogo" src="images/twitterlogo.png" alt="twitter" /></a>
  <% @profile.each do |field, value| %>
    <% if (field == "codecademy") %>
      </div>
      <div id="secondarycontent">
      <% end %>
    <% if (field == "projects") %>
      </div>
      <div id="tertiarycontent">
      <% end %>
    <div class="profile-section box" id="<%= field %>">
      <% field_formatted = field.capitalize %>
      <% field_formatted.gsub!("_"," ") %>
      <h4 class ="sectiontitle" ><%= field_formatted %></h4>
      <p class="profile-value"><%= value %></p>
    </div>
    <br />
  <% end %>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <hr />

  <div id="editbox" class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <textarea name="trainee[about]" rows="10" cols="100"><%= @profile["about"] %></textarea>
          <br />
          <div class="wordcount">Words: <span id="about_wordcount"></span></div>
        </div>
        <br />
        <!-- TODO - Add more fields so that your profile can be edited -->

        <div class="form-group">
          <label for="trainee[ambition]">Ambition</label>
          <textarea name="trainee[ambition]" rows="10" cols="100"><%= @profile["ambition"] %></textarea>
          <div class="wordcount">Words: <span id="ambition_wordcount"></span></div>
        </div>
        <br />

        <div class="form-group">
          <label for="trainee[learning_experience]">Learning Experience</label>
          <textarea name="trainee[learning_experience]" rows="10" cols="100"><%= @profile["learning_experience"] %></textarea>
          <div class="wordcount">Words: <span id="learningexperience_wordcount"></span></div>
        </div>
        <br />

        <div class="form-group">
          <label for="trainee[projects]">Projects</label>
          <textarea name="trainee[projects]" rows="10" cols="100"><%= @profile["projects"] %></textarea>
          <div class="wordcount">Words: <span id="projects_wordcount"></span></div>
        </div>
        <br />

        <div class="form-group">
          <label for="trainee[rationale]">Rationale</label>
          <textarea name="trainee[rationale]" rows="10" cols="100"><%= @profile["rationale"] %></textarea>
          <div class="wordcount">Words: <span id="rationale_wordcount"></span></div>
        </div>
        <br />

        <div class="form-group">
          <label for="trainee[how_did_you_hear]">How did you hear about us?</label>
          <textarea name="trainee[how_did_you_hear]" rows="10" cols="100"><%= @profile["how_did_you_hear"] %></textarea>
          <div class="wordcount">Words: <span id="howdidyouhear_wordcount"></span></div>
        </div>
        <br />

        <div class="form-group">
          <label for="trainee[first_name]">First Name</label>
          <input type="text" name="trainee[first_name]" value="<%= @profile["first_name"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[last_name]">Last Name</label>
          <input type="text" name="trainee[last_name]" value="<%= @profile["last_name"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[gender]">Gender</label>
          <select name="trainee[gender]">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <div class="form-group">
          <label for="trainee[phone_number]">Phone Number</label>
          <input type="text" name="trainee[phone_number]" value="<%= @profile["phone_number"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[employment_status]">Employment Status</label>
          <input type="text" name="trainee[employment_status]" value="<%= @profile["employment_status"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[dob]">Date of Birth</label>
          <input type="date" name="trainee[dob]" value="<%= @profile["dob"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[twitter]">Twitter</label>
          <input type="text" name="trainee[twitter]" value="<%= @profile["twitter"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[github]">GitHub</label>
          <input type="text" name="trainee[github]" value="<%= @profile["github"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[homepage]">Homepage</label>
          <input type="text" name="trainee[homepage]" value="<%= @profile["homepage"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[codecademy]">Codecademy</label>
          <input type="text" name="trainee[codecademy]" value="<%= @profile["codecademy"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[primes_sum]">Primes Sum</label>
          <input type="text" name="trainee[primes_sum]" value="<%= @profile["primes_sum"] %>"/>
        </div>

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>

<script type="text/javascript" src="/js/jquery-2.1.4.min.js">
</script>

<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  var about = profile_values[0].innerHTML;
  var about_words = about.split(" ");
  document.getElementById("about_wordcount").innerHTML = about_words.length;
  total_words += about_words.length;

  var ambition = profile_values[1].innerHTML;
  var ambition_words = ambition.split(" ");
  document.getElementById("ambition_wordcount").innerHTML = ambition_words.length;
  total_words += ambition_words.length;

  var how_did_you_hear = profile_values[9].innerHTML;
  var how_did_you_hear_words = how_did_you_hear.split(" ");
  document.getElementById("howdidyouhear_wordcount").innerHTML = how_did_you_hear_words.length;
  total_words += how_did_you_hear_words.length;

  var learning_experience = profile_values[12].innerHTML;
  var learning_experience_words = learning_experience.split(" ");
  document.getElementById("learningexperience_wordcount").innerHTML = learning_experience_words.length;
  total_words += learning_experience_words.length;

  var projects = profile_values[15].innerHTML;
  var projects_words = projects.split(" ");
  document.getElementById("projects_wordcount").innerHTML = projects_words.length;
  total_words += projects_words.length;

  var rationale = profile_values[16].innerHTML;
  var rationale_words = rationale.split(" ");
  document.getElementById("rationale_wordcount").innerHTML = rationale_words.length;
  total_words += rationale_words.length;

  document.getElementById('word-count').innerHTML = total_words;


/***************************** jQuery stuff *****************************/

$(function() {

  var $navButton = $('#nav_button');
  var $navBar = $('#navbar');
  var $navDiv = $('#navdiv');
  var $upArrow = $('#uparrow');
  var $downArrow = $('#downarrow');

  // when the mouse is moved over the navigation button
  $navButton.mouseover(function() {
    $navButton.css('border-bottom-right-radius', '0');
    $navBar.slideDown(500);
    $upArrow.removeClass('hidden');
    $downArrow.addClass('hidden');
  });

  // when the mouse is moved off of the navbar
  $navDiv.mouseleave(function() {
    $navBar.slideUp('500');
    $navButton.delay(375).queue(function() {
      $(this).css('border-bottom-right-radius', '10px');
      $(this).dequeue();
    });
    $downArrow.delay(375).queue(function() {
      $(this).removeClass('hidden');
      $('#uparrow').addClass('hidden');
      $(this).dequeue();
      $('#uparrow').dequeue();
    });


    
    
  });

});

  

</script>