<% if @profile %>
  <table class="profile-section box"> 
    <td id= "left">
      <p class="profile-value"><%= @profile[:name] %></p>
      <p class="profile-value">age: <%= @profile[:age] %></p>
      <p class="profile-value">status: <%= @profile[:status] %></p>
    </td>
    <td><img id="profile_picture" src="/images/profile_picture.jpg"/></td>
    <td id="right">
      <p class="profile-value">webpage: <%= @profile[:webpage] %></p>
      <p class="profile-value">email: <%= @profile[:email] %></p>
      <p class="profile-value">phone: <%= @profile[:phone] %></p>
    </td>
  </table>
  <div id="stats" class="box">
    <h3>Stats</h3>
    <span id="word-count">Can't be zero here</span> words found in the section above.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box">
    <h3>WGC questions here</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <input type="text" name="trainee[about]" value="<%= @profile[:about] %>"/>
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% end %>

<script language="javascript">
  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  Array.prototype.forEach.call(profile_values, function(value) {
      total_words += value.innerHTML.split(" ").length;
    });

  document.getElementById('word-count').innerHTML = total_words - 1;
  // Had to reduce total number my one because there is a <a> tag in one of the
  // values provided, and I don't want to count that.
</script>