<% if @profile %>
  <h3><%= @profile["first_name"] %>'s Amazing Profile</h3>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
  <br/>
  <div id="my_pic">  </div>
  <div class="my_heading">Personal Information</div>
  <br/>
  <div class="personal_info">
    <p class="profile-value"><b>Name:</b> <%=@profile["first_name"]%> <%=@profile["last_name"]%></p>
    <p class="profile-value"><b>Date Of Birth:</b> <%=@profile["dob"]%></p>
    <p class="profile-value"><b>Gender:</b> <%=@profile["gender"]%></p>
    <p class="profile-value"><b>Phone Number:</b> <%=@profile["phone_number"]%></p>
    <p class="profile-value"><b>Employment Status:</b> <%=@profile["employment_status"]%></p>
    <p class="profile-value"><b>Ambition:</b> To be a great coder, to build apps
    that change the world...oh...and to be an incredible dancer!</p>
    <p class="profile-value"><b>Github:</b> <a href="https://github.com/zedlang">zedlang</a></p>
    <p class="profile-value"><b>Twitter:</b><i> @zedlangridge</i><p class="profile-value">
   <p><img src="images/architect.png" style="display:inline-block;
   float:right; clear:both; margin-right:550px; width:75px; height:50px;"/>
     <b>Home page:</b> Still in the design phase!</p>
</div>
<br/>
<br/>
  <div class="my_heading">Other Information</div>
  <div class="other_info box">
    <p class="profile-value"><b>Code Academy</b> tracks taken</p>
    <br/>
    <div id="trackname">
      <h4>Name of track</h4>
      <ul>
	<li>Ruby</li>
	<li>JavaScript</li>
	<li>Web Fundamentals</li>
      </ul>
    </div>
    <div id="percentage">
      <h4>Percentage complete</h4>
      <ul>
	<li>100</li>
	<li>100</li>
	<li>100</li>
      </ul>
    </div>
  </div>
  <br/>
<p>About: <% @trainee.public_methods %></p>
  <!--<% @profile.each do |field, value| %>
    <div class="profile-section">
      <h4><%= field %></h4>
      <p class="profile-value"><%= value %></p>
    </div>
  <% end %>-->
<br/>
  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    There are roughly <span id="word-count">0</span> words found above.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">More about yourself</label>
	  <br/>
          <input type="text" name="trainee[about]" value="<%= @profile["about"] %>">
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->
	<div class="form-group">
          <label for="trainee[codeacademy]">Further Code Academy details</label>
	  <br/>
          <input type="text" name="trainee[codeacademy]" value="<%= @profile["codeacademy"] %>"></input>
	</div>
	<input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  window.onload = function () {
  
  var total_words = 0;
  var doc_words = 0;
  var title_words = 0;

  var document_text =  document.getElementsByClassName('profile-value');
  for (var i=0; i < document_text.length; i++) {
		    var docString = document_text[i].textContent;
		    doc_words += docString.split(' ').length;
		    }
//Now count titles and miscellaneous things
var title_text =  document.getElementsByClassName('my_heading');
  for (var i=0; i < title_text.length; i++) {
		    var titleString = title_text[i].textContent;
		    title_words += titleString.split(' ').length;
		    }

var total_words=doc_words+title_words;
  
document.getElementById('word-count').innerHTML = total_words;
  }
</script>
