<% if @profile %>
  <div class="section-one">
  <div class="intro"><h3><%= @profile["first_name"] %>'s Amazing Profile</h3></div>
</div>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
 <!--  <% @profile.each do |field, value| %>
    <div class="profile-section box">
      <h3><%= field %></h3>
      <p class="profile-value"><%= value %></p>
    </div>
  <% end %> -->

  <div class="section-two">
    <div class="title">
      <h2><%=@profile.keys[0].capitalize%></h2>
        <div class="content">
          <h3><%=@profile["about"] %></h3>
        </div>
    </div>

    <div class="info-container">
      <div id="name" class="basic-info">
        <h2><%=@profile.keys[5].capitalize%></h2>
        <h3><%=@profile["first_name"] %> <%=@profile["last_name"] %></h3>
      </div>

      <div id="dob" class="basic-info">
        <h2><%=@profile.keys[3].capitalize%></h2>
        <h3><%=@profile["dob"] %></h3>
      </div>

      <div id="phone" class="basic-info">
        <h2><%=@profile.keys[13].capitalize%></h2>
        <h3><%=@profile["phone_number"] %></h3>
      </div>
    </div>
  </div>

  <div class="section-three">
    <div class="title">
      <h2><%=@profile.keys[1].capitalize%></h2>
        <div class="content">
          <h3><%=@profile["ambition"] %></h3>
        </div>
    </div>
  </div>

  <div class="section-four">
    <div class="title">
      <h2>Codecademy</h2>
        <div class="content">
          <h3>Username: <%=@profile["codecademy"] %></h3>
        </div>
    </div>

    <div class="info-container">
      <div id="htmlcss" class="basic-info">
        <h2>HTML & CSS </h2>
        <h3><%=@profile["web_track_completedness"] %></h3>
      </div>

      <div id="javascript" class="basic-info">
        <h2>Javascript</h2>
        <h3><%=@profile["js_track_completedness"] %></h3>
      </div>

      <div id="ruby" class="basic-info">
        <h2>Ruby</h2>
        <h3><%=@profile["ruby_track_completedness"] %></h3>
      </div>
    </div>
  </div>

<div class="section-five">
    <div class="title">
      <h2><%=@profile.keys[15].capitalize%></h2>
        <div class="content">
          <h3><%=@profile["projects"] %></h3>
        </div>
    </div>
  </div>

  <div class="section-six">
    <div class="box">
      <div class="content">
      <div class="title">
      <h2>Edit Profile</h2>

      <form action="/update" method="POST">
        <fieldset>
          <div class="form-group">
            <label for="trainee[about]">About</label>
            <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>

            <label for="trainee[ambition]">Ambition</label>
            <input type="text" name="trainee[ambition]" value="<%= @profile["ambition"] %>"/>

            <label for="trainee[first_name]">First Name</label>
            <input type="text" name="trainee[first_name]" value="<%= @profile["first_name"] %>"/>

             <label for="trainee[last_name]">Last Name</label>
            <input type="text" name="trainee[last_name]" value="<%= @profile["last_name"] %>"/>

             <label for="trainee[dob]">DOB</label>
            <input type="text" name="trainee[dob]" value="<%= @profile["dob"] %>"/>

            <label for="trainee[projects]">Projects</label>
            <input type="text" name="trainee[projects]" value="<%= @profile["projects"] %>"/>
            
            <label for="trainee[codecademy]">Codecademy Username</label>
            <input type="text" name="trainee[codecademy]" value="<%= @profile["codecademy"] %>"/>
            
            <label for="trainee[webtrack]">Codecademy HTML & CSS Completed</label>
            <input type="text" name="trainee[webtrack]" value="<%= @profile["web_track_completedness"] %>"/>
            
            <label for="trainee[jstrack]">Codecademy Javascript Completed</label>
            <input type="text" name="trainee[jstrack]" value="<%= @profile["js_track_completedness"] %>"/>
           
            <label for="trainee[ruby_track_completedness]">Codecademy Ruby Completed</label>
            <input type="text" name="trainee[ruby_track_completedness]" value="<%= @profile["ruby_track_completedness"] %>"/>
          </div>
      </div>
    </div>
        <!-- TODO - Add more fields so that your profile can be edited -->

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
  </div>



<h3><%=@profile.keys[0] %></h3>
<h3><%=@profile["about"] %></h3>
<h3><%=@profile%></h3>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  document.getElementById('word-count').innerHTML = total_words;
</script>