<% if @profile %>

  <h2><%= @profile["first_name"] %>'s Amazing Profile</h3>
  <br>

  <div class="profile">

    <div class="profile_picture">
      <img src="/images/profile_picture.jpg" alt="Profile Photo" width="270" height="270" />
    </div>

    <div class="profile_details">
      <h3>Profile Details</h3>
      <p>First Name: <%= @profile["first_name"] %> </p>
      <p>Last Name: <%= @profile["last_name"] %></p>
      <p>Gender: <%= @profile["gender"] %></p>
      <p>DOB: <%= @profile["dob"] %></p>
      <p>Employment Status: <%= @profile["employment_status"] %></p>
    </div>

    <div class="profile_contact">
      <h3>Contact Details</h3>
      <p>Phone Number: <%= @profile["phone_number"] %></p>
      <p>Home Page: <%= @profile["homepage"] %></p>
      <p>Twitter: <%= @profile["twitter"] %></p>
      <p>Github: <%= @profile["github"] %></p>
      <p>Codecademy: <%= @profile["codecademy"] %></p>
    </div>

  </div>

  <div class="tracks_sums">

    <div class="tracks_sums_details">
      <h3>Tracks and Sums</h3>
      <p>JS Track: <%= @profile["js_track_completedness"] %></p>
      <p>RUBY Track: <%= @profile["ruby_track_completedness"] %></p>
      <p>WEB Track: <%= @profile["web_track_completedness"] %></p>
      <p>Primes Sum: <%= @profile["primes_sum"] %></p>
    </div>

  </div>

  <div class="extras">

    <div id="stats" class="box">
      <h3>Stats</h3>
      <!-- TODO - Set the contents of this span with JavaScript -->
      <p><span id="word-count">0</span> words found.</p>
    </div>

    <div id="problems" class="box">
      <h3>Programming Problems</h3>
      <p><a href="/primes">My Prime Number Solution</a></p>
    </div>

    <div class="box">
      <h3>Edit Profile</h3>
      <form action="/update" method="POST">
        <fieldset>
          <div class="form-group">
            <label for="trainee[about]">About</label>
            <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>
          </div>

          <!-- TODO - Add more fields so that your profile can be edited -->

          <input type="submit" value="Update Profile" class="btn btn-primary" />
        </fieldset>
      </form>
    </div>

  </div>

<% else %>

  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>

<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  document.getElementById('word-count').innerHTML = total_words;
</script>