<% if @profile %>
  <h1><%= @profile["first_name"] %>'s Amazing Profile</h1>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
  <div class="profile-section box " id='about'>
     <div id="photo">
      <img src="/images/profile.png">
     </div>
     <div  >
     <h3>About</h3>
     <p class="profile-value lead"><%= @profile['about']  %></p>
     </div>
  </div>
  
  <div class="profile-section box leftcolumn">
  <% @profile.each do |field, value|
   if field!='about'  %>
    <div class = "detailsleft" id=<%= field %>>
      <h3><%= field.capitalize %></h3>
    </div>
    <div class="detailsright">
      <p class="profile-value lead"><%= value %></p>
    </div>
    <div class="clear"></div>
  <% end
  end %>
  </div>
  
  <div class="clear"></div>
  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div class="clear"></div>
  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution </a>
  </div>

 <div class="clear"></div>
  <div class="box">
    <h3>Edit Profile</h3>

    <form class = "form-horizontal" role="form" action="/update" method="POST">
      <fieldset>
      <div class="form-group">
      <% @profile.each do |field, value| %>
      
      	<label for="trainee[<%= field %>]" class="col-sm-2 control-label"><%= field %></label>
      	<div class="col-sm-10">
      	<input type="text" class="form-control" name="trainee[<%= field %>]" id="trainee[<%= field %>]" value="<%= value %>"/>
  	  </div>
  		<% end %>
	
        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
  
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");
  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;
  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.
  document.getElementById('word-count').innerHTML = total_words;
</script>