<% if @profile %>
    <h2 id="heading" class=""><%= @profile["first_name"] %>'s Amazing Profile</h2>
    <div class="imgwrap"><a href="https://github.com/ethaning/" target="_blank"><img id="mypic" class="" src="/images/me.jpg" alt="Ethan Carter"/></a></div>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->



  <% @profile.each_slice(3).to_a.each do |array| %>
    <div class="row">
    <% array.each do |field, value| %>
      <div class="profile-section">
        <h4><%= field.tr('_', ' ') %>:</h4>
        <p class="profile-value"><%= value %></p>
      </div>
      <% end %>

      </div>
    </div>
  <% end %>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>


  <div class="box">
    <h3>Edit Profile</h3>
    <form action="/update" method="POST">
      <fieldset>
      <div class="row"> 
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <textarea name="trainee[about]" class="forminput" cols="30" rows="10" onkeyup="wordCount('trainee[about]', 'trainee[about]-count')"><%= @profile["about"] %></textarea>
          <span id="trainee[about]-count">0</span> words
        </div>



        <div class="form-group">
          <label for="trainee[projects]">Projects</label>
          <textarea name="trainee[projects]" class="forminput" cols="30" rows="10" onkeyup="wordCount('trainee[projects]', 'trainee[projects]-count')"><%= @profile["projects"] %></textarea>
          <span id="trainee[projects]-count">0</span> words
        </div>

        <div class="form-group">
          <label for="trainee[rationale]">Rationale</label>
          <textarea name="trainee[rationale]" class="forminput" cols="30" rows="10" onkeyup="wordCount('trainee[rationale]', 'trainee[rationale]-count')"><%= @profile["rationale"] %></textarea>
          <span id="trainee[rationale]-count">0</span> words
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="trainee[ambition]">Ambition</label>
          <textarea name="trainee[ambition]" class="forminput" cols="30" rows="10" onkeyup="wordCount('trainee[ambition]', 'trainee[ambition]-count')"><%= @profile["ambition"] %></textarea>
          <span id="trainee[ambition]-count">0</span> words
        </div>

        <div class="form-group">
          <label for="trainee[learning_experience]">Learning Experience</label>
          <textarea name="trainee[learning_experience]" class="forminput" cols="30" rows="10" onkeyup="wordCount('trainee[learning_experience]', 'trainee[learning_experience]-count')"><%= @profile["learning_experience"] %></textarea>
          <span id="trainee[learning_experience]-count">0</span> words
        </div>

        <div class="form-group">
          <label for="trainee[how_did_you_hear]">How Did You Hear</label>
          <textarea name="trainee[how_did_you_hear]" class="forminput" cols="30" rows="10" onkeyup="wordCount('trainee[how_did_you_hear]', 'trainee[how_did_you_hear]-count')"><%= @profile["how_did_you_hear"] %></textarea>
          <span id="trainee[how_did_you_hear]-count">0</span> words
        </div>
      </div>

      <div class="row row-bottom">
        <div class="form-group-bottom">
          <label for="trainee[homepage]">Codecademy Username/Homepage</label>
          <textarea name="trainee[homepage]" class="forminput" cols="30" rows="1"><%= @profile["homepage"] %></textarea>
       
        <div class="form-group-bottom">
          <label for="trainee[primes_sum]">Primes Sum</label>
          <textarea name="trainee[primes_sum]" class="forminput" cols="30" rows="1"><%= @profile["primes_sum"] %></textarea>
      </div>

        <!-- TODO - Add more fields so that your profile can be edited -->

        <input type="submit" value="Update Profile" class="btn btn-primary" id="submit" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");


  function totalWordCount (array) {
    var len = array.length;
    var total_words = 0;
    var temp = '';
    var countID = '';
    //console.log(array);

    for (i = 0; i < len-2; i++){
      temp = array[i].value.split(' ');
      temp = temp.length;
      //console.log (temp);
      total_words += temp;
      countID = array[i].name + '-count';
      //console.log(countID + ' ' + temp);
      document.getElementById(countID).innerHTML = temp; 
      if (temp < 20) {
        array[i].style.backgroundColor = "red";
      }
      temp = '';
    }
    return total_words;
  }

  function wordCount (count, target) {
    var textbox = document.getElementsByName(count)[0];
    var total = textbox.value.split(' ').length ;//.value  ;//.split(' ').length;
    document.getElementById(target).innerHTML = total;
    if (total < 20){
      textbox.style.backgroundColor = "red";
    } else {
      textbox.style.backgroundColor =  "white";
    }
  }

  var profile_values = document.getElementsByClassName('forminput');
  document.getElementById('word-count').innerHTML = totalWordCount(profile_values);


  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.


  //profile_values[0].value.length;
</script>