<% if @profile %>
  <h3><%= @profile["first_name"] %> <%= @profile["last_name"] %></h3>

  <h3 id="quote">"Pessimism of the Intellect, Optimism of the Will"</h3>
  <br>
  <%= erb :"/personal_info" %>
  <br>

  <h3>Stats</h3>
  <div id="stats" class="box">
    <span id="word-count">0</span> words found.
    <input type='button' onclick='total_words();' value='Wordcount'/>
  </div>

  <h3>Programming Problems</h3>
  <div id="problems" class="box">
    <h5>Sum of Prime Numbers</h5>
    <form action="/primes" method="GET">
      <fieldset>
        <p>Set a limit:</p>
        <input id="input" type="number" step="1" name="limit"/>
        <input id="input" type="submit" onclick="window.location='/primes;" class="btn btn-primary"/>
      </fieldset>
    </form>
    <br>
    <h5><a href="https://github.com/KGibb8/project_euler">Maths is fun</a></h5>
  </div>

  <%= erb :"/fieldinput" %>

<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>

  <%= erb :"/javascript" %>
