<% if @profile %>
  <h3><%= @profile["first_name"] %>'s Amazing Profile</h3>

  <!--Add a profile picture-->

  <div class="myPic">
    <img onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0" src="/images/img.jpg" alt="Profile picture" width="200" height="190">
</div>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->

  <% @profile.each do |field, value| %>
    <div class="profile-section box">
      <h4><%= field %></h4>
     <p class="profile-value"><%= value %></p></fieldset> 
    </div>
  <% end %>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <input type="text" name="trainee[about]" value="<%= @profile["about"] %>" onfocus="myFunction(this)"/>
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->
        <div class="form-group">
          <label for="trainee[ambition]">Ambition</label>
          <input type="text" name="trainee[ambition]" value="<%= @profile["ambition"] %>" onfocus="myFunction(this)"/>
        </div>

        <div class="form-group">
          <label for="trainee[codecademy]">Codecademy</label>
          <input type="text" name="trainee[codecademy]" value="<%= @profile["codecademy"] %>" onfocus="myFunction(this)"/>
        </div>

        <div class="form-group">
          <label for="trainee[primes_sum]">Primes_sum</label>
          <input type="text" name="trainee[primes_sum]" value="<%= @profile["primes_sum"] %>" onfocus="myFunction(this)"/>
        </div>

        <input type="submit" value="Update Profile" class="btn btn-primary" style="cursor:pointer"/>

      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

for (i = 0; i < profile_values.length; i++) { 
    e = profile_values[i];
    console.log("element no : " + i);
    count = countWords(e);
    console.log("count : " + count);
    total_words = total_words + count;
}


function countWords(ele){
  s = ele.innerHTML;
  s = s.replace(/(^\s*)|(\s*$)/gi,"");
  s = s.replace(/[ ]{2,}/gi," ");
  s = s.replace(/\n /,"\n");
  return s.split(' ').length;
}
  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

//change input colour to yellow
function myFunction(x) {
    x.style.background = "yellow";
}

  document.getElementById('word-count').innerHTML = total_words;


</script>