<% if @profile %>
  <h2 id="profile_title"><%= @profile["first_name"] %>'s Amazing Profile</h2>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
  <div id="maincontent">
  <img id="profile-pic" src="images/me.JPG" />
  <a href="http://twitter.com/ctweedz"><img id="twitterlogo" src="images/twitterlogo.png" alt="twitter" /></a>
  <% @profile.each do |field, value| %>
    <% if (field == "codecademy") %>
      </div>
      <div id="secondarycontent">
      <% end %>
    <% if (field == "projects") %>
      </div>
      <div id="tertiarycontent">
      <% end %>
    <div class="profile-section box" id="<%= field %>">
      <!-- Format the keys to capitalize and replace the underscores with spaces -->
      <% field_formatted = field.capitalize %>
      <% field_formatted.gsub!("_"," ") %>
      <h4 class ="sectiontitle" ><%= field_formatted %></h4>
      <p class="profile-value"><%= value %></p>
    </div>
    <br />
  <% end %>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <hr />

  <div id="editbox" class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <textarea name="trainee[about]" rows="10" cols="100"><%= @profile["about"] %></textarea>
        </div>
        <!-- TODO - Add more fields so that your profile can be edited -->

        <div class="form-group">
          <label for="trainee[ambition]">Ambition</label>
          <textarea name="trainee[ambition]" rows="10" cols="100"><%= @profile["ambition"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[learning_experience]">Learning Experience</label>
          <textarea name="trainee[learning_experience]" rows="10" cols="100"><%= @profile["learning_experience"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[projects]">Projects</label>
          <textarea name="trainee[projects]" rows="10" cols="100"><%= @profile["projects"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[rationale]">Rationale</label>
          <textarea name="trainee[rationale]" rows="10" cols="100"><%= @profile["rationale"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[how_did_you_hear]">How did you hear about us?</label>
          <textarea name="trainee[how_did_you_hear]" rows="10" cols="100"><%= @profile["how_did_you_hear"] %></textarea>
        </div>

        <div class="form-group">
          <label for="trainee[first_name]">First Name</label>
          <input type="text" name="trainee[first_name]" value="<%= @profile["first_name"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[last_name]">Last Name</label>
          <input type="text" name="trainee[last_name]" value="<%= @profile["last_name"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[gender]">Gender</label>
          <select name="trainee[gender]">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <div class="form-group">
          <label for="trainee[phone_number]">Phone Number</label>
          <input type="text" name="trainee[phone_number]" value="<%= @profile["phone_number"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[employment_status]">Employment Status</label>
          <input type="text" name="trainee[employment_status]" value="<%= @profile["employment_status"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[dob]">Date of Birth</label>
          <input type="date" name="trainee[dob]" value="<%= @profile["dob"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[twitter]">Twitter</label>
          <input type="text" name="trainee[twitter]" value="<%= @profile["twitter"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[github]">GitHub</label>
          <input type="text" name="trainee[github]" value="<%= @profile["github"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[homepage]">Homepage</label>
          <input type="text" name="trainee[homepage]" value="<%= @profile["homepage"] %>"/>
        </div>

        <div class="form-group">
          <label for="trainee[codecademy]">Codecademy</label>
          <input type="text" name="trainee[codecademy]" value="<%= @profile["codecademy"] %>"/>
        </div>

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  document.getElementById('word-count').innerHTML = total_words;
</script>