<% if @profile %>
<div  class="container text-center">
  <img class = "img-responsive img-circle margin text-center" style="display:inline" src = "/images/matt.jpg" alt ="Matthew Jackman" width="350" height="350"></img>
  <h1 class= "name"><%= @profile["first_name"] %> <%= @profile["last_name"] %></h1>
  <h4 class= "details">Date of Birth: <%= @profile["dob"] %></h4>
  <h4 class= "details">Gender: <%= @profile["gender"] %></h4>
  <h4 class= "details">Employment: <%= @profile["employment_status"] %></h4>
  <h4 class= "details">Phone Number: <%= @profile["phone_number"] %></h4>
</div>

<div class="container">
  <div class="row col-sm-6 text-center">
    <h3>About Me</h3>
    <p><%= @profile["about"] %></p>
    <br>
    <p class="count"><span id="about">0</span> words found.</p>
  </div>
  <div class="row col-sm-6 text-center">
    <h3>Reason For Taking Course</h3>
    <p><%= @profile["rationale"] %></p>
    <br>
    <p class="count"><span id="rationale">0</span> words found.</p>
  </div>
  <div class="row col-sm-12 text-center">
    <h3>My Project</h3>
    <p><%= @profile["projects"] %></p>
    <br>
    <p class="count"><span id="projects">0</span> words found.</p>
  </div>
  <div class="row col-sm-6 text-center">
    <h3>My Ambotions</h3>
    <p><%= @profile["ambition"] %></p>
    <br>
    <p class="count"><span id="ambition">0</span> words found.</p>
  </div>
  <div class="row col-sm-6 text-center">
    <h3>A Good Learning Experience</h3>
    <p><%= @profile["learning_experience"] %></p>
    <br>
    <p class="count"><span id="learning_experience">0</span> words found.</p>
  </div>
  <div class="row col-sm-12 text-center">
    <h3>primes_sum<h3>
  </div>
</div>

  <!--<h3><%= @profile["first_name"] %>'s Amazing Profile</h3>
  TODO- Perhaps re-jig this to fit your new design / layout -->
  <% @profile.each do |field, value| %>
  <div class = "col-sm-6">
    <div class="profile-section box hidden">
      <h3 class="profile-field hidden"><%= field %></h3>
      <p class="profile-value hidden"><%= value %></p>
    </div>
    </div>
  <% end %>

  <div id="stats" class="box">
    <h3>Stats</h3>
    <!-- TODO - Set the contents of this span with JavaScript -->
    <span id="word-count">0</span> words found.
  </div>

  <div id="problems" class="box">
    <h3>Programming Problems</h3>
    <a href="/primes">My Prime Number Solution</a>
  </div>

  <div class="box">
    <h3>Edit Profile</h3>

    <form action="/update" method="POST">
      <fieldset>
        <div class="form-group">
          <label for="trainee[about]">About</label>
          <input type="text" name="trainee[about]" value="<%= @profile["about"] %>"/>
        </div>

        <!-- TODO - Add more fields so that your profile can be edited -->
        <div class="form-group">
          <lable for="trainee[projects]">Projects</label>
            <input type="text" name="trainee[projects]" value="<%= @profile["projects"] %>"/>
          </div>

          <div class="form-group">
            <lable for="trainee[rationale]">Rationale</lable>
            <input type="text" name="trainee[rationale]" value="<%= @profile["rationale"] %>"/>
          </div>

          <div class="form-group">
            <lable for="trainee[ambition]">Ambition</lable>
            <input type="text" name="trainee[ambition]" value="<%= @profile["ambition"] %>"/>
          </div>

          <div class="form-group">
            <lable for="trainee[learning_experience]">Learning Experience</lable>
            <input type="text" name="trainee[learning_experience]" value="<%= @profile["learning_experience"] %>"/>
          </div>

        <input type="submit" value="Update Profile" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
<% else %>
  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>
<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var profile_field = document.getElementsByClassName('profile-field');
  var total_words = 0;
  var arr = [].slice.call(profile_field);
  wordCount();
  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.
    function wordCount(){
      for (var i=9; i<profile_values.length; i++){
      total_words = profile_values[i].innerHTML.split(" ").length;
      if(total_words < 20){
        document.getElementById(arr[i].innerHTML).innerHTML = "You need 20 words or more, only " + total_words + ", ";
      }
      else{
        document.getElementById(arr[i].innerHTML).innerHTML = total_words;
      }
  }
}

</script>
