
<section>
  <div class="container container-main">
    <img src="/images/profile.png" class="profile-img">
    <header>
      <h1>
        <p>
          <span> <strong><%= @profile["first_name"]  %></strong></span>
          <span> <strong><%= @profile["last_name"]  %></strong></span>
        </p>

      </h1>
    </header>
    <img src="images/line.png" class="line">

    <div class="row">
      <div class="col-md-7">
        <h2># About Me</h2>
        <p>
          <span> <strong><%= @profile["first_name"]  %></strong></span>
          <span> <strong><%= @profile["last_name"]  %></strong></span>
        </p>
        <p>
          <span> <strong>DOB<%= @profile["dob"]  %></strong></span>
          <span>Gender <strong><%= @profile["gender"]  %></strong></span>
        </p>
        <p> <%= @profile["about"]  %></p>
      </div>
      <div class="col-md-5">
        <h2># Contact Info</h2>
        <ul class="contact-list">
          <li><img src="images/phone.png">Phone<span> <strong><%= @profile["phone_number"] %></strong></span></li>
          <li><img src="images/email.png"> Email<span><strong><%= @profile["email"] %></strong></span></li>
          <li><img src="images/facebook.png"> Facebook<span>facebook.com/johndoe</span></li>
          <li><img src="images/github.png"> Github<span><strong><%= @profile["github"] %></strong></span></li>
          <li><img src="images/twitter.png"> Twitter <span><strong><%= @profile["tiwitter"] %></strong></span></li>
        </ul>
      </div>
    </div>

    <div class="row">

      <div class="col-md-7">
        <h2># Learning Experience</h2>
        <div class="media">
          <div class="media-left">
            2016 - 2017
          </div>
          <div class="media-body">
            <h4 class="media-heading">Goals</h4>
            <p><%= @profile["ambition"] %></p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            2016 - 2017
          </div>
          <div class="media-body">
            <h4 class="media-heading">Self Motivated Work</h4>
            <p><%= @profile["projects"] %></p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            2016 - 2017
          </div>
          <div class="media-body">
            <h4 class="media-heading">Why WGC </h4>
            <p><%= @profile["rationale"] %></p>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <h2># Programming Skills</h2>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: 100%;">
            HTML / CSS
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 100%;">
            JavaScript
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 90%;">
            Ruby on Rails
          </div>
        </div>    
      </div>
    </div>
</div>
</section>

<footer>
  <div class="container">
    <p>Copyright &copy; 2017, Tahir Raza</p>
  </div>
</footer>

  <!-- TODO- Perhaps re-jig this to fit your new design / layout -->
  <% @profile.each do |field, value| %>
    <div class="box">
      <h4><%= field %></h4>
      <p><%= value %></p>
    </div>
    <% end %>
