<% if @profile %>

  <h2><%= @profile["first_name"] %>'s Amazing Profile</h3>
  <br>

  <div class="profile">

    <div class="profile_picture">
      <img src="/images/profile_picture.jpg" alt="Profile Photo" width="270" height="270" />
    </div>

    <div class="profile_details">
      <h3>Profile Details</h3>
      <ul>
        <li>First Name: <%= @profile["first_name"] %> </li>
        <li>Last Name: <%= @profile["last_name"] %></li>
        <li>Gender: <%= @profile["gender"] %></li>
        <li>DOB: <%= @profile["dob"] %></li>
        <li>Employment Status: <%= @profile["employment_status"] %></li>
      </ul>
    </div>

    <div class="profile_contact">
      <h3>Contact Details</h3>
      <ul>
        <li>Phone Number: <%= @profile["phone_number"] %></li>
        <li>Home Page: <%= @profile["homepage"] %></li>
        <li>Twitter: <%= @profile["twitter"] %></li>
        <li>Github: <%= @profile["github"] %></li>
        <li>Codecademy: <%= @profile["codecademy"] %></li>
      </ul>
    </div>

  </div>

  <div class="tracks_sums">

    <div class="tracks_sums_details">
      <h3>Tracks and Sums</h3>
      <ul>
        <li>JS Track: <%= @profile["js_track_completedness"] %></li>
        <li>RUBY Track: <%= @profile["ruby_track_completedness"] %></li>
        <li>WEB Track: <%= @profile["web_track_completedness"] %></li>
        <li>Primes Sum: <%= @profile["primes_sum"] %></li>
      </ul>
    </div>

  </div>

  <div class="extras">

    <div id="stats" class="box">
      <h3>Stats</h3>
      <!-- TODO - Set the contents of this span with JavaScript -->
      <p><span id="word-count">0</span> words found.</p>
    </div>

    <div id="problems" class="box">
      <h3>Programming Problems</h3>
      <p><a href="/primes">My Prime Number Solution</a></p>
    </div>

    <div class="box">

      <h3>Edit Profile</h3>
      <form action="/update" method="POST">

        <fieldset>

          <div class="form-group">
            <label for="trainee[first_name]">First Name</label>
            <input type="text" name="trainee[first_name]" value="<%= @profile["first_name"] %>"/>
          </div>

          <div class="form-group">
            <label for="trainee[last_name]">Last Name</label>
            <input type="text" name="trainee[last_name]" value="<%= @profile["last_name"] %>"/>
          </div>

          <div class="form-group">
            <label for="trainee[gender]">Gender</label>
            <input type="text" name="trainee[gender]" value="<%= @profile["gender"] %>"/>
          </div>

          <div class="form-group">
            <label for="trainee[dob]">DOB</label>
            <input type="text" name="trainee[dob]" value="<%= @profile["dob"] %>"/>
          </div>

          <div class="form-group">
            <label for="trainee[employment_status]">Employment Status</label>
            <input type="text" name="trainee[employment_status]" value="<%= @profile["employment_status"] %>"/>
          </div>

          <div class="form-group">
            <label for="trainee[phone_number]">Phone Number</label>
            <input type="text" name="trainee[phone_number]" value="<%= @profile["phone_number"] %>"/>
          </div>

          <div class="form-group">
            <label for="trainee[homepage]">Home Page</label>
            <input type="text" name="trainee[homepage]" value="<%= @profile["homepage"] %>"/>
          </div>

          <div class="form-group">
            <label for="trainee[twitter]">Twitter</label>
            <input type="text" name="trainee[twitter]" value="<%= @profile["twitter"] %>"/>
          </div>

          <div class="form-group">
            <label for="trainee[github]">Github</label>
            <input type="text" name="trainee[github]" value="<%= @profile["github"] %>"/>
          </div>

          <div class="form-group">
            <label for="trainee[codecademy]">Codecademy</label>
            <input type="text" name="trainee[codecademy]" value="<%= @profile["codecademy"] %>"/>
          </div>

          <input type="submit" value="Update Profile" class="btn btn-primary" />

        </fieldset>

      </form>

    </div>

  </div>

<% else %>

  <div class="welcome">
    <p>Welcome! Once you have updated the OAuth tokens, the link below will fetch your profile information.</p>

    <a href="/authorise">Authorise</a>
  </div>

<% end %>


<!-- Add your Javascript to this script tag -->
<script language="javascript">
  console.log("I am Javascript!");

  var profile_values = document.getElementsByClassName('profile-value');
  var total_words = 0;

  // TODO - Count the number of words in the profile.
  // hint - look at what the innerHTML property provides.

  document.getElementById('word-count').innerHTML = total_words;
</script>