<div class="profile-section box">
	<h4>First Name:</h4>
	<p class="profile-value"><%= @profile["first_name"] %></p>
</div>
<div class="profile-section box">
	<h4>Last Name:</h4>
	<p class="profile-value"><%= @profile["last_name"] %></p>
</div>
<div class="profile-section box">
	<h4>Age:</h4>
	<p class="profile-value"><%= ((Time.now - Time.parse(@profile["dob"].to_s))/(365.25*24*60**2)).to_i %></p>
</div>
<div class="profile-section box">
	<h4>Gender:</h4>
	<p class="profile-value"><%= @profile["gender"] %></p>
</div>
<div class="profile-section box">
	<h4>About:</h4>
	<p class="profile-value"><%= @profile["about"] %></p>
</div>
<div class="profile-section box">
	<h4>Ambition:</h4>
	<p class="profile-value"><%= @profile["ambition"] %></p>
</div>
<div class="profile-section box">
	<h4>Homepage:</h4>
	<p class="profile-value"><a href = <%= @profile["homepage"] %>><%= @profile["homepage"] %></a></p>
</div>
<div class="profile-section box">
	<h4>Github Username:</h4>
	<p class="profile-value"><a href = "https://github.com/<%= @profile["github"] %>"><%= @profile["github"] %></a></p>
</div>
<div class="profile-section box">
	<h4>Twitter:</h4>
	<p class="profile-value"><a href = <%= @profile["twitter"] %>><%= @profile["twitter"] %></a></p>
</div>
<div class="profile-section box">
	<h4>Codecademy:</h4>
	<p class="profile-value"><a href = <%= @profile["codecademy"] %>><%= @profile["codecademy"] %></a></p>
</div>
<div class="profile-section box">
	<h4>How Did You Hear About Us?:</h4>
	<p class="profile-value"><%= @profile["how_did_you_hear"] %></p>
</div>
<div class="profile-section box">
	<h4>Ruby Track Completedness:</h4>
	<p class="profile-value"><%= @profile["ruby_track_completedness"] %></p>
</div>
<div class="profile-section box">
	<h4>JS Track Completedness:</h4>
	<p class="profile-value"><%= @profile["js_track_completedness"] %></p>
</div>
<div class="profile-section box">
	<h4>Web Track Completedness:</h4>
	<p class="profile-value"><%= @profile["web_track_completedness"] %></p>
</div>
<div class="profile-section box">
	<h4>Learning Experience:</h4>
	<p class="profile-value"><%= @profile["learning_experience"] %></p>
</div>
<div class="profile-section box">
	<h4>Employment Status:</h4>
	<p class="profile-value"><%= @profile["employment_status"] %></p>
</div>
<div class="profile-section box">
	<h4>Primes Sum:</h4>
	<p class="profile-value"><%= @profile["primes_sum"] %></p>
</div>
<div class="profile-section box">
	<h4>Projects:</h4>
	<p class="profile-value"><%= @profile["projects"] %></p>
</div>
<div class="profile-section box">
	<h4>Rationale:</h4>
	<p class="profile-value"><%= @profile["rationale"] %></p>
</div>

